.title {
    display: none;
}

.blog_tag_widget {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.cor_fundo {
    background-color: rgb(245, 245, 246);
    padding: 0px;
}

.icon_hvr_img_box .details h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    color: [[setting:color_primary]];
    text-align: center;
}

@media (min-width: 992px) {
    .conteiner-cards {
        width: 972px;
        padding: 40px 0px;
    }
}
    figure img {
        margin-left: 90px;
    }
    /*.cards_align {*/
    /*    text-align: -webkit-center;*/
    /*}*/
    .section_nav {
        position: relative;
        z-index: 1;
        top: 45px;
        align-content: center;
        margin-bottom: 20px;
    }

    .mb150{margin-bottom: 150px;}
    .mb200{margin-bottom: 200px;}

    .icon_hvr_img_box {
        margin-bottom: 11px;
    }

    .icon_hvr_img_box.ccn_e {
        text-align: center;
        padding: 33px 38px;
        height: 289px;
        width: 322px;
        border-radius: unset;
        box-shadow: 3px 8px 20px -2px rgb(0 0 10 / 30%)!important;

    }

    .icon_hvr_img_box.ccn-box:before {
        border: 0!important;
    }

    .icon_hvr_img_box.ccn-box .icon {
        text-align: center;
        font-size: 43px;
    }

    .card_info p {
        text-align: justify;
        padding-right: 70px;
    }

/*}*/
.icon_bg{
    padding: 9px;
    border-radius: 100%;
    /*background-color: #488ac5;*/
    /*margin-bottom: 20px;*/
    border: 1px solid;
}

