<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
<style>
    @media (max-width: 500px) {
        .rtable tbody tr td {
            position: relative;
            text-align-last: center!important;
        }
        /*.rtable tbody tr td {*/
            /*display: block;*/
        /*}*/
        .main-title h3 {
            display: inline-block;
            font-size: 10px;
            font-weight: 500!important;
            margin-bottom: 10px;
            margin-top: 0;
        }
        .main-title p {
            font-size: 14px;
            text-align: justify!important;
        }

        .ccnDashBlCt {
            padding: 10px 10px;
            font-size: 1rem;
        }
        .rtable thead{display: none;}
        .rtable tbody td{display: flex; flex-direction: column}


        .rtable tbody tr {
            border: 1px solid #e5e5e5;
            margin-bottom: 10px;
            display: compact !important;
        }
        .rtable tbody tr td:before {
            content: none!important;
        }
        .rtable .btnEditModal, .rtable .btnDeleteModal {
            /*text-align: center!important;*/
            /*display: flex; flex-direction: column;*/

        }

    }


    @media (min-width: 320px) {
        .breadcrumb_widgets {
            margin-top: 12px;
        }
        .ccnDashBlCt {
            padding: 0px 10px!important;
        }
        section {
            padding: 10px 0!important;
        }
        /*.select2-container {*/
        /*    width: 150%!important;*/
        /*    position: relative;*/
        /*}*/
        .col-xs-12, .col-sm-12, .col-lg-12 {
            padding-right: 0px!important;
            padding-left: 0px!important;
        }
        .form-busca .col-md-3, .col-md-9 {
            padding-left: 0px!important;
        }
        .fg {
            width: 100%;
        }
        .tc{
            text-align: right;
        }
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 15px;
        }

        .select2-container .select2-selection--single {
            height: 38px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
            font-size: 14px;
        }
        .select2-container--default .select2-results>.select2-results__options {
            font-size: 13px;
        }


        label {
            margin-bottom: 0px!important;
        }
        .custom-input{
            line-height: 23px;
            font-size: 0.9rem;
            padding: 6px;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
        .custom-input:focus {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
    }

    @media (min-width: 401px) {
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 5px;
        }
    }
    @media (max-width: 575.98px){
        .table-responsive-sm {
            display: table;!important;
        }
    }


    @media (max-width: 790px) {
        .rtable tbody tr td {
            position: relative;
        }

        .ccnDashBlCt {
            padding: 10px 10px;
            font-size: 1rem;
        }

        .rtable thead{display: none;}
        .rtable tbody td{display: flex; flex-direction: column;}

        .rtable tbody tr td {
            display: block;
            text-align: right!important;
        }
        .rtable tbody tr {
            margin-bottom: 10px;
            display: block;
        }
        .rtable tbody tr td:before {
            width: 40%;
            content: attr(data-title);
            text-align: left;
            display: block;
            position: absolute;
            background-color: #0c3551;
            top: 0;
            left: 0;
            height: 50px;
            padding: 10px 20px;
            color: #FFFFFF;

        }
        .rtable tbody tr .btnbg:before {
            display: none;
        }
        /*.rtable .btnEditModal, .rtable .btnDeleteModal {*/
        /*    text-align: center;*/
        /*    !*display: flex; flex-direction: column;*!*/

        /*}*/
    }

    @media (min-width: 768px) {
        .breadcrumb_widgets {
            margin-top: 14px;
        }
        .ccnDashBlCt {
            padding: 0px 10px!important;
        }
        section {
            padding: 10px 0!important;
        }
        /*.select2-container {*/
        /*    width: 100%!important;*/
        /*    position: relative;*/
        /*}*/
        .col-xs-12, .col-sm-12, .col-lg-12 {
            padding-right: 5px!important;
            padding-left: 5px!important;
        }
        .form-busca .col-md-3, .col-md-9 {
            padding-left: 5px!important;
            max-width: 100%;
        }
        .fg {
            width: 50%;!important;
        }
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 4px;
        }

        .select2-container .select2-selection--single {
            height: 38px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
            font-size: 14px;
        }
        .select2-container--default .select2-results>.select2-results__options {
            font-size: 13px;
        }
        label {
            margin-bottom: 0px!important;
        }
        .custom-input{
            line-height: 23px;
            font-size: 0.9rem;
            padding: 6px;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
        .custom-input:focus {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
    }

    @media only screen and (max-width: 1200px) {


    }

    @media (min-width: 993px) {
        .breadcrumb_widgets {
            margin-top: 24px;
        }
    }

    @media (min-width: 1200px) {
        .ccnDashBlCt {
            padding: 20px 30px!important;
        }
        section {
            padding: 10px 0!important;
        }

        .col-xs-12, .col-sm-12, .col-lg-12 {
            padding-right: 0px!important;
            padding-left: 0px!important;
        }
        .form-busca .col-md-3, .col-md-9 {
            padding-left: 0px!important;
        }

        .fg {
            width: 25%;
        }
        .tc, .tdright{
            text-align: center;
        }
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 4px;
        }

        .select2-container .select2-selection--single {
            height: 38px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
            font-size: 14px;
        }
        .select2-container--default .select2-results>.select2-results__options {
            font-size: 13px;
        }

        label {
            margin-bottom: 0px!important;
        }
        .custom-input{
            line-height: 23px;
            font-size: 0.9rem;
            padding: 6px;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
        .custom-input:focus {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
    }

    @media (min-width: 1790px) {
        .ccnDashBlCt {
            padding: 20px 30px!important;
        }
        section {
            padding: 10px 0!important;
        }

        .col-xs-12, .col-sm-12, .col-lg-12 {
            padding-right: 0px!important;
            padding-left: 0px!important;
        }
        .form-busca .col-md-3, .col-md-9 {
            padding-left: 0px!important;
        }

        .fg {
            width: 20%;
        }
        .tc, .tdright{
            text-align: center;
        }
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 4px;
        }

        .select2-container .select2-selection--single {
            height: 38px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
            font-size: 14px;
        }
        .select2-container--default .select2-results>.select2-results__options {
            font-size: 13px;
        }
        label {
            margin-bottom: 0px!important;
        }

        .custom-input{
            line-height: 23px;
            font-size: 0.9rem;
            padding: 6px;
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
        .custom-input:focus {
            background-color: #fff;
            border: 1px solid #aaa;
            border-radius: 4px;
        }
    }

    .dashboard_main_content .btn:not(.btn-link) {
        color: #fff!Important;
        line-height: 1;
        padding: 10px 14px;
        margin-right: 5px;
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        background-color: #07212f;
    }

    .main-title h3 {
        display: inline-block;
        font-size: 25px;
        font-weight: 600!important;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .card {
        border: 1px solid rgba(0,0,0,.125);;
    }
    .tableprimary {
        background: #0c3551;
        color: white;
    }
    .tableprimary:hover {
        background: #0c3551;
    }
    .dashboard_main_content .btn-primary, .modal:not(.sign_up_modal) .btn-primary, .btn-primary {
        padding: 12px 16px;
        background-color: #01101f;
        border: 1px solid #01101f;
        color: #fff;

    }
    .btn-thm:hover {
        color: #0c3551!important;
    }

    .status_red{
        color: red;
    }
    .status_blue{
        color: #0a78d1;
    }
    .status_verde{
        color: #157e07;
    }
    table caption section{
        font-weight: 100;!important;
        font-size: 16px;
    }
    tbody a .i-con {
        font-weight: 600;font-size: 16px; color: #19538D; margin: 0; padding: 2px;
    }

</style>

<div class="">
    <h5 class="card-title text-center">Controle de avaliação de Alunos pendentes</h5>
    <!--    <h5>Avaliador: {{avaliador}}</h5>-->
    <div class="section mb20">
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-primary btn-thm btnAdicionarModal"
                   data-baremaid="{{baremaid}}"
                   data-root="{{{ config.wwwroot }}}"
                   href="/blocks/eva_form_barema/create.php?id=1"><i class="icon fa ccn-flaticon-back fa-fw"></i>Voltar</a>
                <a class="btn btn-primary btn-thm btnAdicionarModal"
                   data-baremaid="{{baremaid}}"
                   data-root="{{{ config.wwwroot }}}"
                   href="/blocks/eva_form_barema/barema_lista.php"><i class="icon fa ccn-flaticon-list fa-fw"></i>Relatórios</a>
            </div>
        </div>
    </div>

<!--    <h4><b class="fw700">Avaliador(a) :</b> {{avaliador}}</h4>-->
    <table class="table table-sm table-striped table-responsive-sm table-hover rtable">


        <caption style="font-size: 20px;">Avaliadores
            <section class="section">
                <form method="get" class="form-busca">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group fg">
                                <div class="col-md-3">
                                    <label for="select2-id_avaliadores-container">Avaliador</label>
                                </div>
                                <div class="col-md-9">
                                    <select name="avaliadores" class="custom-select" style="width: 100%">
                                        <option value=""></option>
                                        {{#avaliadores}}
                                            <option value="{{valor}}" {{selected}}>{{selecao}}</option>
                                        {{/avaliadores}}
                                    </select>
                                </div>
                            </div>
<!--                            <div class="form-group fg">-->
<!--                                <div class="col-md-3">-->
<!--                                    <label for="select2-id_barema-container">Barema</label>-->
<!--                                </div>-->
<!--                                <div class="col-md-9 r_col">-->
<!--                                    <select name="barema" id="id_barema" class="custom-select" style="width: 100%">-->
<!--                                        <option value=""></option>-->
<!--                                        {{#baremas}}-->
<!--                                            <option value="{{valor}}" {{selected}}>{{selecao}}</option>-->
<!--                                        {{/baremas}}-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group fg">
                                <div class="col-md-3">
                                    <label>Curso</label>
                                </div>
                                <div class="col-md-9">
                                    <select name="curso" id="id_curso" class="custom-select" style="width: 100%">
                                        <option value=""></option>
                                        {{#cursos}}
                                            <option value="{{valor}}" {{selected}}>{{selecao}}</option>
                                        {{/cursos}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group fg">
                                <div class="col-md-3">
                                    <label>Data de Atribuição</label>
                                </div>
                                <div class="col-md-9">
<!--                                    <select name="data_atribuicao" id="id_data" class="custom-select" style="width: 100%">-->
<!--                                        <option value=""></option>-->
<!--                                        {{#data_atribuicao}}-->
<!--                                            <option value="{{valor}}" {{selected}}>{{selecao}}</option>-->
<!--                                        {{/data_atribuicao}}-->
<!--                                    </select>-->
                                    <input type="date" name="data_atribuicao" id="id_data" class="custom-input" style="width: 100%">
                                </div>
                            </div>

                            <div class="form-group fg {{hidden}}">
                                <div class="col-md-3">
                                    <label>Status</label>
                                </div>
                                <div class="col-md-9">
                                    <select name="status" id="idstatus" class="custom-select" style="width: 100%">
                                        <option value=""></option>
                                        {{#status}}
                                            <option value="{{valor}}" {{selected}} >{{selecao}}</option>
                                        {{/status}}
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="admin" value="curso">
                            <!--                <div class="col d-flex align-items-end m_top">-->

                            <div class="d-flex align-items-center mt-4">
                                <!--                                    <div class="form-group align-items-center">-->
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary" name="listar">
                                        <i class="flaticon-magnifying-glass" id="yui_3_17_2_1_1647205690370_21" style="font-weight: 600;font-size: 15px;"></i>
                                    </button>
                                    <a href="{{{ config.wwwroot }}}/blocks/eva_form_barema/gerencia.php?admin=curso" class="btn btn-primary">
                                    <i class="flaticon-delete-button" id="yui_3_17_2_1_1647205690370_21" style="font-weight: 400;font-size: 15px;"></i> Limpar Filtro
                                    </a>
<!--                                    <button type="submit" name="relatorio" class="btn btn-primary" href="#" onclick="open('barema_lista.php{{filters}}&relatorio=pdf','','status=no, Width=1200, Height=800');">-->
<!--                                        <i class="ccn-flaticon-document" id="yui_3_17_2_1_1647205690370_21" style="font-weight: 400;font-size: 15px;"></i> PDF-->
<!--                                    </button>-->
                                    <!--                                            <a class="btn btn-primary {{hidden}}" href="{{{ config.wwwroot }}}/blocks/eva_form_barema/barema_lista.php{{filters}}&relatorio=xls">Excel</a>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </section>
        </caption>

        <thead class="tableprimary text-left">
        <tr>
<!--            <th>#</th>-->
            <th>Avaliador</th>
            <th>Curso</th>
            <th class="text-center">Atribuição</th>
            <th class="text-center">Avaliados</th>
            <th class="text-center">Total</th>
            <th class="text-center">Status</th>
            <th class="text-center">Ação</th>
        </tr>
        </thead>
        <tbody class="fz14">
        {{#listagrupoalunos}}
            <tr>
                <td data-title="#">{{avaliador}}</td>
                <td data-title="Curso">{{curso}}</a></td>
                <td data-title="Data da Atribuilção" class="text-center">{{data_atribuicao}}</td>
                <td data-title="Alunos avaliados" class="text-center {{n_color}} fw600">{{qtd_avaliados}}</td>
                <td data-title="Totao de Alunos" class="text-center status_blue fw600">{{qtd_alunos}}</td>
<!--                <td data-title="status" class="font-weight-bold ">-->
<!--                    12-->
<!--                </td>-->
                <td data-title="Status" class="text-center {{s_color}} fw600">{{status}}</td>
                <td data-title="Ação" class="text-center">
<!--                    <a class="" href="" onclick="open('avaliacao.php?gerenciar={{userid}}&espelho={{idavaliacao}}','','status=no, Width=1000, Height=800');">-->
                    <a class="" href="{{linkalunos}}" title="Alunos por Curso"><i class="ccn-flaticon-list i-con" id="yui_3_17_2_1_1647205690370_21"></i></a>
                    <a class="envioEmailPendentePos {{display}}"
                       id="id_email_pendentepos"
                       data-id="{{id}}"
                       data-root="{{{ config.wwwroot }}}"
                       data-toggle="modal"
                       data-target="#modalEmailPendentePos"
                       href="#"><i class="icon fa fa-envelope fa-fw i-con" title="Enviar e-mail" role="img" aria-label=""></i>
                    </a>
                    <a href="#" class="substituirAvaliador {{display}}" data-root="{{{ config.wwwroot }}}"
                       data-id="{{id}}"
                       data-toggle="modal"
                       data-target="#modalSubstituirAvaliador"><i class="icon fa fa-reply i-con" title="Substituir"></i></a>
                </td>
            </tr>
        {{/listagrupoalunos}}
        </tbody>
        <tfoot class="bg-gray text-right pr20">
        <!--        <tr class="bg-gray"><td colspan="8"><sapn>Pagina {{page}}, {{results}} resultados, Total de {{registros}} registros</sapn></td></tr>-->
        <tr><td colspan="8" class="fz14"><sapn>Total de {{registros}} registros</sapn></td></tr>
        </tfoot>
    </table>
<!--    page 1, {{results}} results-->

    <nav aria-label="paginacao">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="{{primeiro}}" aria-label="Previous">
                <span aria-hidden="true">Primeiro</span>
            </a>
            </li>
            <!--    =============== AQUI INCLUI DUAS PAGINAS A- ANTES DO ATUAL =================-->
            {{#links_ant}}
                <li class="page-item {{select}}">
                    <a href="{{href_ant}}" class="page-link">{{pg_ant}}</a>
                </li>
            {{/links_ant}}

            <!--    =============== AQUI É A PAGINA ATUAL=================-->
            {{#links_atual}}
                <li class="page-item {{select}}">
                    <a class="page-link">{{pg_atual}}</a>
                </li>
            {{/links_atual}}

            <!--    =============== AQUI INCLUI DUAS PAGINAS A+ DEPOIS DO ATUAL =================-->
            {{#links_dep}}
                <li class="page-item {{select}}">
                    <a href="{{href_dep}}" class="page-link">{{pg_dep}}</a>
                </li>
            {{/links_dep}}
            <!--   ============== AQUI INCLUI OS PONTOS E A ULTIMA PG DEPOIS NO FINAL ============-->
            {{#links_ultimo}}
                <li class="page-item {{select}}">
                    <a href="#" class="page-link">{{pontos}}</a>
                </li>
                <li class="page-item {{select}}">
                    <a href="{{href_ultimo}}" class="page-link">{{ultima_pg}}</a>
                </li>
            {{/links_ultimo}}
            <li class="page-item">
                <a class="page-link" href="{{ultima}}" aria-label="Next">
                    <span aria-hidden="true">Última</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{{> block_eva_form_barema/modal_email_pendente_pos }}
{{> block_eva_form_barema/modal_substituicao_avaliador }}
<script type="text/javascript" src="/blocks/eva_form_barema/js/modal_email_pendente.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    setTimeout(function (){
        $(".notifications .alert").fadeOut("slow", function () {
            $(this).alert('close');
        });
    }, 5000);

    $(".custom-select").select2({
        placeholder: 'Buscar',
        width: 'resolve'
    });
    // $('.ccnDashBlHd ').addClass('hidden');
</script>

