<!doctype html>
<html dir="ltr" lang="pt-br" xml:lang="pt-br" class="yui3-js-enabled js no-touch csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Espelho da Avaliacao - Barema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<style>


    /*@media (max-width: 440px) {*/
    /*    *{*/
    /*        font-size: 1rem;*/
    /*    }*/
    /*    .rtable tbody tr td {*/
    /*        position: relative;*/
    /*    }*/

    /*    .main-title h3 {*/
    /*        display: inline-block;*/
    /*        font-size: 10px;*/
    /*        font-weight: 500!important;*/
    /*        margin-bottom: 10px;*/
    /*        margin-top: 0;*/
    /*    }*/
    /*    .main-title p {*/
    /*        text-align: justify!important;*/
    /*    }*/

    /*    .rtable thead{display: none;}*/
    /*    .rtable tbody td{display: flex; flex-direction: column}*/

    /*    .rtable tbody tr td {*/
    /*        !*display: block;*!*/
    /*        text-align: center!important;*/
    /*    }*/
    /*    .rtable tbody tr {*/
    /*        border: 1px solid #e5e5e5;*/

    /*        margin-bottom: 10px;*/
    /*        display: block;*/
    /*    }*/
    /*    .rtable tbody tr td:before {*/
    /*        content: none!important;*/
    /*    }*/
    /*    .rtable .btnEditModal, .rtable .btnDeleteModal {*/
    /*        text-align: center;*/
    /*        !*display: flex; flex-direction: column;*!*/

    /*    }*/
    /*    .rtable tbody tr td:before {*/
    /*        width: 50%;*/
    /*        content: attr(data-title);*/
    /*        text-align: left;*/
    /*        display: block;*/
    /*        position: absolute;*/
    /*        background-color: #0c3551;*/
    /*        top: 0;*/
    /*        left: 0;*/
    /*        height: 52px;*/
    /*        padding: 14px 14px;*/
    /*        color: #FFFFFF;*/

    /*    }*/

    /*}*/

    /*@media (max-width: 790px) {*/

    *{
        font-size: 1rem;
        font-family: "[[setting:primary_font]]"'Open Sans', sans-serif;
    }
    .table {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }
    .table-bordered {
        border: 1px solid #dedede;
        width: 100%;
    }
    .table-bordered th, td {
        border: 1px solid #dee2e6!important;
    }

    .text-center {
        text-align: center!important;
    }
    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .table {
        border-collapse: collapse;
    }

    .rtable tbody tr td {
        position: relative;
    }

    .rtable thead{display: none;}
    .rtable tbody td{display: flex; flex-direction: column;}

    .rtable tbody tr td {
        /*display: block;*/
        text-align: right;
    }
    .rtable tbody tr {
        margin-bottom: 10px;
        display: block;
    }
    .rtable tbody tr td:before {
        width: 30%;
        content: attr(data-title);
        text-align: left;
        display: block;
        position: absolute;
        background-color: #0c3551;
        top: 0;
        left: 0;
        height: 25px;
        padding: 9px 14px;
        color: #FFFFFF;
        font-weight: 400;
    }

    .rtable tbody tr .btnbg:before {
        display: none;
    }

    .table>:not(caption)>*>* {
        padding: 0.9rem 0.5rem;
        border-bottom-width: 1px;
    }

    .custom-radio {
        float: right;
    }

    .ntable thead tr, table tfoot tr{
        text-align: center;
        background-color: #656b6c;
        color: #fff0f0;
    }

    .ntable tbody tr td{
        vertical-align: middle;
        background-color: #ffffff;
    }

    .unlist {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /*.btn-primary, .btn-secondary {*/
    /*    font-size: 15px;*/
    /*    color: rgb(10,10,10);*/
    /*    line-height: 1;*/
    /*    padding: 14px 20px;*/
    /*    background-color: #03172a;*/
    /*    border-width: 2px;*/
    /*    border-color: #03172a;*/
    /*    border-radius: 5px;*/
    /*    color: #fff;*/
    /*    margin-bottom: 13px;*/
    /*    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);*/
    /*    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);*/
    /*    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);*/
    /*    -webkit-transition: all .3s ease;*/
    /*    -o-transition: all .3s ease;*/
    /*    transition: all .3s ease;*/
    /*}*/
    .ntable .th1{width: 10px; }
    .ntable .th2{width: 200px; }
    /*.ntable .th3{width: 50px; }*/
    .ntable .th4{width: 200px; }
    /*.ntable .th5{width: 15px; }*/


</style>
<body>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{> block_eva_form_barema/customize_config}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered rtable">
                    <thead class="tableprimary">
                    <tr>
                        <th>Avaliador</th>
                        <th>Aluno</th>
                        <th>Curso</th>
                        <th>Atividade</th>
                        <th>Data da Avaliação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td data-title="Avaliador">Celio batalha</td>
                        <td data-title="Aluno">Willy</td>
                        <td data-title="Curso">Estagio de Programação</td>
                        <td data-title="Atividade">prgramando em php</td>
                        <td data-title="Data da Avaliação">18/03/2002 13:00:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered ntable">
                    <thead>
                    <tr>
                        <th class="th1">#</th>
                        <th class="th2">Citério</th>
                        <th class="th3">Maximo</th>
                        <th class="th4">Faixa</th>
                        <th class="th5">Pontos</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#barema}}
                        <tr>
                            <td>{{id}}</td>
                            <td class="td1">{{criterio}}</td>
                            <td>{{nota_maxima}}</td>
                            <td style="padding-right: 0px;">
                                <ul class="unlist" style="width: 100%">
                                    <li>
                                        <span {{hidden_baixa}}> {{label_baixa}} </span>
                                        <div {{hidden_baixa}} style="position: absolute; float: right;">( )</div>
                                    </li>
                                    <li>
                                        <span {{hidden_media1}}> {{label_media1}} </span>
                                        <div {{hidden_media1}} style="position: absolute; float: right;">( )</div>
                                    </li>
<!--                                    <li>-->
<!--                                        <label {{hidden_media2}}">{{label_media2}}</label>-->
<!--                                        <span {{hidden_media2}} class="custom-radio">( )</span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <label {{hidden_media3}} >{{label_media3}}</label>-->
<!--                                        <span {{hidden_media3}} class="custom-radio">( )</span>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <label {{hidden_alta}} ">{{label_alta}}</label>-->
<!--                                        <span {{hidden_alta}} class="custom-radio">( )</span>-->
<!--                                    </li>-->
                                </ul>
<!--                                <ul class="unlist">-->
<!--                                    <li>-->
<!--                                        <label {{hidden_baixa}} for="id_f1{{id}}">{{label_baixa}}</label>-->
<!--                                        <input {{hidden_baixa}} class="custom-radio" type="radio" id="id_f1{{id}}" name="nt_faixa_{{id}}" {{checked_1}} value="{{valor_baixa}}">-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <label {{hidden_media1}} for="id_f2{{id}}">{{label_media1}}</label>-->
<!--                                        <input {{hidden_media1}} class="custom-radio" type="radio" id="id_f2{{id}}" name="nt_faixa_{{id}}" {{checked_2}} value="{{valor_media1}}">-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <label {{hidden_media2}} for="id_f3{{id}}">{{label_media2}}</label>-->
<!--                                        <input {{hidden_media2}} class="custom-radio" type="radio" id="id_f3{{id}}" name="nt_faixa_{{id}}" {{checked_3}} value="{{valor_media2}}">-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <label {{hidden_media3}} for="id_f4{{id}}">{{label_media3}}</label>-->
<!--                                        <input {{hidden_media3}} class="custom-radio" type="radio" id="id_f4{{id}}" name="nt_faixa_{{id}}" {{checked_4}} value="{{valor_media3}}">-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <label {{hidden_alta}} for="id_f5{{id}}">{{label_alta}}</label>-->
<!--                                        <input {{hidden_alta}} class="custom-radio" type="radio" id="id_f5{{id}}" name="nt_faixa_{{id}}" {{checked_5}} value="{{valor_alta}}">-->
<!--                                    </li>-->
<!--                                </ul>-->
                            </td>
                            <td class="text-center" id="id_nota{{id}}" style="font-size: 19px;">{{notachecked}}</td>
                        </tr>
                    {{/barema}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" >Total</td>
                        <td id="id_nota_final" style="font-size: 19px;">{{notaAvaliador}}</td>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
<!--        <div class="row">-->
<!--            <div class="col-lg-12">-->
<!--                <a class="btn btn-secondary" href="" onclick="javascrip:window.close(this);" title="">Fechar esta janela</a>-->
<!--                <a class="btn btn-secondary" style="float: right;"  id="imprimir_tela" title="">Imprimir</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<!--<script>-->
<!--    function closeJanela() {-->
<!--        window.close();-->
<!--    }-->
<!--    $("#imprimir_tela").click(function () {-->
<!--        window.print();-->
<!--    });-->
<!--</script>-->
</body>
</html>

