<link rel="stylesheet" href="/blocks/eva_form_barema/css/form_avaliar_barema.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
            <div class="text-center">
                <h4 class="mt-0" style="font-size: 40px">{{title}}</h4>
                <p>{{subtitle}}</p>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border: 1px solid rgba(0,0,0,.125);;
    }
    /*.centralizar {*/
    /*    justify-content: space-evenly;*/
    /*}*/
</style>
<!--<div class="row centralizar">-->
<div class="container">
    <div class="row centralizar">
        <div class="col-lg-12">
            <div class="card text-center">
                <div class="card-header">
                    {{barema_numero}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Avaliação</h5>
                    <p class="card-text">Voce foi selecionado para avaliaçao do aluno.</p>
                    <a href="#" class="btn btn-primary">Começar Avaliação</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>

    </div>

</div>
