
<!--<link rel="stylesheet" href="/blocks/eva_form_barema/js/jquery-ui-custom/jquery-ui.css">-->
<link rel="stylesheet" href="/blocks/eva_form_barema/css/form_avaliar_barema.css">


{{> block_eva_form_barema/customize_config}}
<form autocomplete="off" action="{{{ config.wwwroot }}}/blocks/eva_form_barema/barema_avaliacao.php?barema_id={{id_barema}}&avaliador_id={{id_avaliador}}&curso_id={{id_curso}}&quiz_id={{id_quiz}}" method="post"
accept-charset="utf-8" id="mform1" class="mform" data-boost-form-errors-enhanced="1">
<input type="hidden" name="avaliador_tb_user_id" value="{{id_avaliador}}">
<input type="hidden" id="idbarema" name="tb_barema_id" value="{{id_barema}}">
<input type="hidden" id="id_wwwroot" value="{{{ config.wwwroot }}}">

<fieldset class="clearfix collapsible " id="id_recursosrandpass">
    <div class="bg_btoggle">
        <legend class="btoggler">
            <a href="javascript:void(0)" class="fheader" id="id_recursos_pass" role="button" aria-controls="id_recursosrandpass" aria-expanded="true">{{#str}}recursosrandpass, block_eva_form_barema{{/str}}</a>
        </legend>
    </div>

    <!--========================================== VISUALIZAÇÃO DA ATIVIDADE OU RECURSO ================================================ -->

    <div class="fcontainer clearfix bg_area">

        <div id="bitem_id_aluno" class="form-group row bitem ">
            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                <label class="d-inline word-break " for="id_aluno">{{#str}}aluno, block_eva_form_barema{{/str}}</label>

                <div class="form-label-addon d-flex align-items-center align-self-start">
                    <div class="text-danger" title="Necessários">
                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Necessários"
                           aria-label="Necessários"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-9 form-inline align-items-start felement px-0">
                <input type="text" class="form-control aluno_id "
                       name="aluno"
                       id="id_aluno"
                       data-avaliador_id="{{id_avaliador}}"
                       data-curso_id="{{id_curso}}"
                       data-quiz_id="{{id_quiz}}"
                       placeholder="Buscar aluno inscrito"
                       value="" aria-invalid="false">
                <div id="alunos_list" class="position-absolute z-index-1 lista"></div>

                <div class="form-control-feedback invalid-feedback" id="id_error_aluno"> - {{#str}}missingaluno, block_eva_form_barema{{/str}}</div>
            </div>
        </div>

        <input type="hidden" id="id_estudante" name="aluno_tb_user_id" value="">

        <div id="bitem_id_recursos" class="form-group row bitem  ">
            <div class="col-md-12 col-form-label d-flex pb-0 pr-md-0 felement">
                <div class="alert alert-secondary alertavaliacao" role="alert" >
                    <b>Perguntas das atividades ou recursos</b>
                </div>
            </div>
            <div class="col-md-12 col-form-label d-flex pb-0 pr-md-0 felement">
                <div class="boxes">
                    <div class="atividades"></div>
                    <div class="respostacorreta"></div>

                </div>
            </div>
        </div>

        <div id="bitem_id_envio" class="form-group row bitem  ">
            <div class="col-md-12 col-form-label d-flex pb-0 pr-md-0 felement">
                <div class="alert alert-secondary alertavaliacao" role="alert" >
                    <b>Respostas do aluno</b>
                </div>
            </div>
            <div class="col-md-12 col-form-label d-flex pb-0 pr-md-0 felement">
                <div class="boxes enviados">

                </div>
            </div>
        </div>

    </div>
</fieldset>

<fieldset class="clearfix collapsible " id="id_analiserandpass">
    <div class="bg_btoggle">
        <legend class="btoggler">
            <a href="javascript:void(0)" class="fheader" id="id_analise_pass" role="button" aria-controls="id_analiserandpass" aria-expanded="true">{{#str}}analiserandpass, block_eva_form_barema{{/str}}</a>
        </legend>
    </div>

    <div class="fcontainer clearfix bg_area">
        <div id="bitem_id_envio" class="form-group row bitem  ">
            <div class="col-md-12 col-form-label d-flex pb-0 pr-md-0 felement" style="overflow-x:auto;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 460px">CRITÉRIO</th>
                        <th style="width: 135px">NOTA_MAXIMA</th>
                        <th>FAIXA</th>
                        <th>NOTA</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#barema}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{criterio}}</td>
                            <td>{{nota_maxima}}</td>
                            <td style="padding-right: 30px;">
                                <ul class="unlist">
                                    <li>
                                        <label {{hidden_baixa}} for="id_f1{{id}}">{{label_baixa}}</label>
                                        <input {{hidden_baixa}} class="custom-radio" type="radio" id="id_f1{{id}}" name="nt_faixa_{{id}}" value="{{valor_baixa}}">
                                    </li>
                                    <li>
                                        <label {{hidden_media1}} for="id_f2{{id}}">{{label_media1}}</label>
                                        <input {{hidden_media1}} class="custom-radio" type="radio" id="id_f2{{id}}" name="nt_faixa_{{id}}" value="{{valor_media1}}">
                                    </li>
                                    <li>
                                        <label {{hidden_media2}} for="id_f3{{id}}">{{label_media2}}</label>
                                        <input {{hidden_media2}} class="custom-radio" type="radio" id="id_f3{{id}}" name="nt_faixa_{{id}}" value="{{valor_media2}}">
                                    </li>
                                    <li>
                                        <label {{hidden_media3}} for="id_f4{{id}}">{{label_media3}}</label>
                                        <input {{hidden_media3}} class="custom-radio" type="radio" id="id_f4{{id}}" name="nt_faixa_{{id}}" value="{{valor_media3}}">
                                    </li>
                                    <li>
                                        <label {{hidden_alta}} for="id_f5{{id}}">{{label_alta}}</label>
                                        <input {{hidden_alta}} class="custom-radio" type="radio" id="id_f5{{id}}" name="nt_faixa_{{id}}" value="{{valor_alta}}">
                                    </li>
                                </ul>
                            </td>
                            <td class="text-center" id="id_nota{{id}}" style="font-size: 19px;">0</td>
                        </tr>
                    {{/barema}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" >NOTA FINAL</td>
                        <td id="id_nota_final" style="font-size: 19px;"></td>

                    </tr>
                    </tfoot>
                </table>
                <id>
                    <input type="hidden" id="nota_final" name="nt_avaliador">
                    <div class="hidden" id="id_qtd">{{qtd}}</div>
                </id>
            </div>
        </div>
    </div>
</fieldset>

<div id="fgroup_id_buttonar" class="form-group row  bitem">
    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
        <div class="form-label-addon d-flex align-items-center align-self-start"></div>
    </div>
    <div class="col-md-9 form-inline align-items-start felement">
        <div class="d-flex flex-wrap align-items-center">
            <div class="form-group  bitem  ">
                <input type="submit" class="btn btn-primary " name="submitbutton" id="id_submitbutton" value="{{#str}}submitbarema, block_eva_form_barema{{/str}}">
                <div class="form-control-feedback invalid-feedback" id="id_error_submitbutton"></div>
            </div>

            <div class="form-group  bitem   btn-cancel">
                <input type="submit" class="btn btn-secondary " name="cancelbutton" id="id_cancel" value="{{#str}}cancelatbarema, block_eva_form_barema{{/str}}" data-skip-validation="1" data-cancel="1"
                       onclick="skipClientValidation = true; return true;">
                <div class="form-control-feedback invalid-feedback" id="id_error_cancel"></div>
            </div>
        </div>
    </div>
</div>
<div class="fdescription required">
    Este formulário contém campos obrigatórios marcados com
    <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Campo obrigatório" aria-label="Campo obrigatório">
    </i>.
</div>
</form>
<script src="/blocks/eva_form_barema/js/jquery-ui-custom/jquery-ui.js"></script>
<script src="/blocks/eva_form_barema/js/form_barema.js"></script>

<script>
    setTimeout(function (){
        $(".notifications .alert").fadeOut("slow", function () {
            $(this).alert('close');
        });
    }, 5000);
</script>


