<div class="card border">
    <div class="card-body">
        <div class="text-center">
            <h2 class="p-2">{{title}}</h2>
            <p>{{subtitle}}</p>
        </div>
    </div>
</div>




