<style>
    .distribuicao_avaliacao_modal:before {
        background-color: rgba(0,0,0,.9);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .m_area {
        color: #000;
        /*background-color: #d1e9ff4d;*/
        padding: 15px 13px;
        border-top: 0px solid #aac3e84f;
    }
    /*.fcontainer .bitem {*/
    /*    width: 50%;*/
    /*    margin-left: 25%;*/
    /*}*/
    .modal-content {
        width: 37%;
        margin: 8% auto;
    }
    #id_titular_user_id, #id_suplente_user_id {
        width: 95%;
    }
    .ml200 {
        margin-left: 252px;
    }


</style>

<div class="distribuicao_avaliacao_modal modal fade" id="distribuicao_avaliacao_modal" tabindex="-1" aria-labelledby="distribuicao_avaliacao_modalLabel" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="distribuicao_avaliacao_modalLabel">Distribuição automatica</h5>
                <button type="button" class="btn-close modalClose" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="id_distribuicao"></div>
                <div class="fcontainer clearfix m_area">
                    <div id="distribuicao_avaliadores"></div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 load"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer eventButton">
                <button type="button" name="editarbutton_avaliador" class="btn btn-primary btn-Adicionar" data-root="{{{ config.wwwroot }}}">Adicionar</button>
                <button type="button" class="btn btn-secondary modalFechar" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


