<div class="avaliador_baremapos_Modal modal fade" id="msgSuccess" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content bp-modal-content">
            <div class="modal-header bp-modal-header">
                <h5 class="modal-title" style="font-size: 1em;">Menssagem</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                {{! <div class="hidden" class="id_barema"></div> }}
                <ul class="unlist">
                    <li>
                        <div class="column c1">
                            <div class="msg fw600">
                                <span class="msgsuccess"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer bp-modal-footer">
                <button type="button" class="btn btn-secondary modalClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>