<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avaliação</title>
    <style>
        table{
            font-size: 14px;
        }
        table tr{
            text-align: center;
        }
    </style>
</head>
<body>
    <table border="1">
        <tr><td colspan="8">Relatorio de Avalição</td></tr>
        <tr>
            <th bgcolor="#a9a9a9">#</th>
            <th bgcolor="#a9a9a9">Barema</th>
            <th bgcolor="#a9a9a9">Curso</th>
            <th bgcolor="#a9a9a9">Atividade</th>
            <th bgcolor="#a9a9a9">Avaliador</th>
            <th bgcolor="#a9a9a9">Aluno</th>
            <th bgcolor="#a9a9a9">Data da Avaliação</th>
            <th bgcolor="#a9a9a9">Nota</th>
        </tr>
        {{#dadosAvaliacao}}
        <tr class="center">
            <td> {{id}} </td>
            <td> {{barema}} </td>
            <td> {{curso}} </td>
            <td> {{atividade}} </td>
            <td> {{avaliador}} </td>
            <td> {{aluno}} </td>
            <td> {{data_avaliacao}} </td>
            <td> {{nota}} </td>
        </tr>
        {{/dadosAvaliacao}}
    </table>

</body>
</html>



