<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avaliação</title>
    <style>
        .text-left {
            text-align: left!important;
        }
        .text-center {
            text-align: center!important;
        }
        .table-bordered {
            border: 1px solid #dee2e6;
        }
        .table {
            width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
        }
        .table-light, .table-light>td, .table-light>th {
            background-color: #a8a8a8;
        }
        .table-sm td, .table-sm th {
            padding: .3rem;
        }
        .table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0,0,0,.05);
        }
        .title {
            width: 100%;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="title">Avalição Barema</div>
<div><sapn>Total de {{registros}} registros</sapn></div>
    <table class="table table-sm table-str table-bordered table-striped">
        <thead class="table-light">
        <tr class="text-center">
            <th>#</th>
            <th>Barema</th>
            <th>Curso</th>
            <th>Atividade</th>
            <th style="display: {{none}}">Avaliador</th>
            <th>Aluno</th>
            <th>Data da Avaliação</th>
            <th>Nota</th>
        </tr>
        </thead>
        <tbody>
        {{#dadosAvaliacao}}
            <tr class="text-center">
                <td>{{id}}</td>
                <td>{{barema}}</td>
                <td>{{curso}}</td>
                <td>{{atividade}}</td>
                <td style="display: {{none}}">{{avaliador}}</td>
                <td>{{aluno}}</td>
                <td>{{data_avaliacao}}</td>
                <td>{{nota}}</td>
            </tr>
        {{/dadosAvaliacao}}
        </tbody>
    </table>
</body>
</html>



