<link rel="stylesheet" href="/blocks/eva_form_library/form_library.css">
<div class="logo-solicitacao">
    <img src="/blocks/eva_form_library/img/formulario_de_solicitacao.png" alt="">
</div>
<div class="heading">
    <div class="row">
        <div class="col-md-12">
            <div class="main-title text-center">
                <h3 class="mt0">Formulário de Solicitações</h3>
                <p>O sistema central da AGU vai confirmar a lotação do usuário.</p>
            </div>
        </div>
    </div>
</div>
    <!--
    <h3 class="text-center">{{#str}}soliciteform, block_eva_form_library{{/str}}</h3>
    <p class="text-center">{{#str}}jatemregistro, block_eva_form_library{{/str}} <a class="text-thm" href="/login/index.php" style="color: #007bff;">{{#str}}login, block_eva_form_library{{/str}}</a></p>
    <p class="text-center">{{#str}}centralagu, block_eva_form_library{{/str}}</p>
    -->
<!--{{{formhtml}}}-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" >
<form autocomplete="off" action="/blocks/eva_form_library/view.php?id=1" method="post" class="solicitacao-validation " novalidate>
        <input class="externo" name="externo" type="hidden" value="{{externo}}">
        <input name="id_user" type="hidden" value="{{userid}}">
        <input name="name" type="hidden" value="{{fullname}}">
        <input name="email" type="hidden" value="{{emailuser}}">
        <input name="email_alternativo" type="hidden" value="{{alternativoemail}}">
        <input name="cargo" type="hidden" value="{{dscargo}}">
        <input name="lotacao" type="hidden" value="{{lotacao}}">
        <input name="siape" type="hidden" value="{{siape}}">
        <input name="cpf" type="hidden" value="{{cpf}}">
        <input name="created" type="hidden" value="{{createdata}}">
        <fieldset class="clearfix collapsible" id="id_createuserandpass" style="margin-left: 0px;">
            <div class="fcontainer clearfix">
                <div class="container-fluid">
                    <div class="container">
                        <div class="row">
                            <div id="novaDiv" class="col-12">
                                <div id="fitem_id_solicitante" class="form-group row fitem">
                                    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                        <label class="d-inline word-break " for="id_solicitante">Nome do Solicitante:</label>
                                        <div class="form-label-addon d-flex align-items-center align-self-start">
                                            <div class="text-danger" title="Necessários">
                                                <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Necessários" role="img" aria-label="Necessários"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 form-inline align-items-start felement" data-fieldtype="text">
                                        <input type="text" class="form-control " name="solicitante" id="id_solicitante" value="" required>
    <!--                                    <div class="form-control-feedback invalid-feedback" id="id_error_solicitante"></div>-->
                                        <div class="invalid-feedback">- O Campo Solicitação esta vazio.</div>
                                    </div>
                                </div>
                                <div id="fitem_id_email_institucional" class="form-group row fitem">
                                    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                        <label class="d-inline word-break " for="id_email_institucional">E-mail Institucional:</label>
                                        <div class="form-label-addon d-flex align-items-center align-self-start">
                                            <div class="text-danger" title="Necessários">
                                                <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Necessários" role="img" aria-label="Necessários"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 form-inline align-items-start felement" data-fieldtype="text">
                                        <input type="email" class="form-control " name="email_institucional" id="id_email_institucional" value="" required>
<!--                                        <div class="form-control-feedback invalid-feedback" id="id_error_email_institucional"></div>-->
                                        <div class="invalid-feedback">- O Campo e-mail institucional do solicitante esta vazio ou inválido.</div>
                                    </div>
                                </div>
                                <div class="d-none checking">
                                    <div class="form-group row fitem">
                                        <div class="col-md-3">
                                            <label for="id_artigo">Tipo de Solicitação</label>
                                        </div>
                                        <div class="col-md-9 checkbox">
                                            <div class="form-check d-flex">
                                                <input type="checkbox" name="artigo" class="form-check-input ch_solicitacao" value="copia de artigo periodicos" id="id_artigo" aria-describedby="id_artigo_description">
                                                <span id="id_artigo_description"> Cópia de artigo de periódicos.</span>
                                                <div class="ml-2 d-flex align-items-center align-self-start"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row fitem">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9 checkbox">
                                            <div class="form-check d-flex">
                                                <input type="checkbox" name="emprestimo" class="form-check-input ch_solicitacao " value="emprestimo de livro" id="id_emprestimo" >
                                                <label for="id_emprestimo">Informações Gerais ou outros.</label>
                                                <div class="ml-2 d-flex align-items-center align-self-start"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row fitem">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9 checkbox">
                                            <div class="form-check d-flex">
                                                <input type="checkbox" name="pesquisa" class="form-check-input ch_solicitacao" value="solicitacao de pesquisa" id="id_pesquisa">
                                                <label for="id_pesquisa">Solicitação de Pesquisa: </label>
                                                <div class="ml-2 d-flex align-items-center align-self-start"></div>
                                            </div>
                                            <input type="hidden" class="form-control ch_solicit">
                                            <div class="form-control-feedback invalid-feedback">- Marque pelo menos um campo</div>
                                        </div>
                                    </div>
                                    <div class="form-group row fitem">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9 checkbox">
                                            <div class="form-check d-flex">
                                                <b>ATENÇÃO :&nbsp;</b> <p>Empréstimo de livros físicos somente no atendimento presencial. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="fitem_id_biblioteca" class="form-group row fitem">
                                    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                        <label class="d-inline word-break " for="id_biblioteca">De qual Biblioteca: </label>
                                        <div class="form-label-addon d-flex align-items-center align-self-start">
                                            <div class="text-danger" title="Necessários">
                                                <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Necessários" role="img" aria-label="Necessários"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 form-inline align-items-start felement" data-fieldtype="select">
                                        <select class="custom-select biblioteca" name="biblioteca" id="id_biblioteca" required>
                                            <option value="">Selecione um local</option>
                                            <option value="Biblioteca Central de Brasilia">Biblioteca Central de Brasilia</option>
                                            <option value="Biblioteca 1ª Região de Belo Horizonte">Biblioteca 1ª Região de Belo Horizonte</option>
                                            <option value="Biblioteca 4ª Região de Porto Alegre">Biblioteca 4ª Região de Porto Alegre</option>
                                        </select>
<!--                                        <div class="form-control-feedback invalid-feedback" id="id_error_biblioteca"></div>-->
                                        <div class="invalid-feedback">- Informar de qual Biblioteca da AGU deseja o(s) serviço(s).</div>
                                    </div>
                                </div>
                                <div id="fitem_id_message" class="form-group row fitem">
                                    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                        <label class="d-inline word-break " for="id_message"> Solicitação:</label>
                                        <div class="form-label-addon d-flex align-items-center align-self-start">
                                            <div class="text-danger" title="Necessários">
                                                <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Necessários" role="img" aria-label="Necessários"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 form-inline align-items-start felement" data-fieldtype="textarea">
                                        <textarea name="message" id="id_message" class="form-control " wrap="virtual" rows="5" cols="20" required placeholder="Descreva detalhadamente sua demanda para que a biblioteca possa atendê-la com a maior brevidade possível.."></textarea>
<!--                                        <div class="form-control-feedback invalid-feedback" id="id_error_message"></div>-->
                                        <div class="invalid-feedback">- Redigir sua(s) solicitação(ões).</div>
                                    </div>
                                </div>
                                <div class="regiao"></div>
                                <div class="telefone"></div>
                                <div id="fitem_id_cc" class="form-group row fitem">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9 checkbox">
                                        <div class="form-check d-flex">
                                            <input type="checkbox" name="cc" class="form-check-input " value="{{emailuser}}" id="id_cc">
                                            <label for="id_cc"> Receber uma cópia </label>
                                            <div class="ml-2 d-flex align-items-center align-self-start"></div>
                                        </div>
                                        <div class="form-control-feedback invalid-feedback" id="id_error_cc"></div>
                                    </div>
                                </div>
                                <div id="fitem_id_button" class="form-group row  fitem   ">
                                    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0"> </div>
                                    <div class="col-md-9 form-inline align-items-middle felement" data-fieldtype="text">
                                        <input type="submit" class="btn btn-primary" name="submitbutton" id="id_submitbutton" value="Enviar">
                                        <input type="submit" class="btn btn-primary" name="cancel" id="id_cancel" value="Cancelar">
                                    </div>
                                </div>
                                <div id="fitem_id_footinfo" class="form-group row fitem">
                                    <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">&nbsp;</div>
                                    <div class="col-md-9 form-inline align-items-start felement mt-3">
                                        <div>Este formulário contém campos obrigatórios marcados com
                                            <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Campo obrigatório" role="img" aria-label="Campo obrigatório"></i>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </fieldset>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" ></script>
<!--<script src="/blocks/eva_form_library/js/jquery.mask.js"></script>-->
<script src="/blocks/eva_form_library/js/form_library.js"></script>
<script>
    // var newDiv = '';
    // newDiv += '<div class="container-fluid">' +
    //         '<div class="container">' +
    //         '<div class="row">' +
    //         '<div id="novaDiv" class="col-12">';
    //
    // $(document).ready(function(){
    //     // $("#ccn-main-region div").removeClass('container');
    //     // $("form").find('.fdescription').remove();
    //     // $("#id_createuserandpass").css({'margin-left':'0px'});
    //     // $("#fitem_id_message").append('<div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">&nbsp;</div><div class="col-md-9 form-inline align-items-start felement mt-3"><div class="fdescription required">Este formulário contém campos obrigatórios marcados com <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Campo obrigatório" role="img" aria-label="Campo obrigatório"></i>.</div></div>');
    //
    //     // var conteudo = $(".fcontainer").children().detach();
    //     // $("#id_createuserandpass").find(".fcontainer").prepend(newDiv);
    //     // conteudo.prependTo("#novaDiv");
    // });
</script>