.anteproject_modal:before {
    background-color: rgba(0,0,0,.9);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.anteprojeto_Modal .modal-body form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.anteprojeto_Modal .modal-dialog .modal-content{
    border-radius: 5px;
    padding: 0px;
    width: 50%;
    margin: 13% auto;
}
.anteprojeto_Modal .modal-dialog .modal-content .modal-header{
    padding: 15px;
}
  
.anteprojeto_Modal .modal-dialog .modal-body{
    height: 47rem;
    overflow-y: scroll;
}

.anteprojeto_Modal .modal-dialog .modal-body .modal-foot{
    border-top: 1px solid rgb(225 224 224);
    background-color: rgb(238 238 241);
    padding: 5px 20px;
}

.anteprojeto_Modal .modal-body .modal-foot .field-main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.anteprojeto_Modal .modal-body .modal-foot .field-main span .div1 {
    width: 50%;
}
.anteprojeto_Modal .modal-body .modal-foot .field-main span .div2 {
    width: 100%;
}

.anteprojeto_Modal .modal-body .modal-foot .field-main span:nth-child(2),
.anteprojeto_Modal .modal-body .modal-foot .field-main span:nth-child(3),
.anteprojeto_Modal .modal-body .modal-foot .field-main span:nth-child(4),
.anteprojeto_Modal .modal-body .modal-foot .field-main span:nth-child(5),
.anteprojeto_Modal .modal-body .modal-foot .field-main span:nth-child(6)
{
    display: flex;
    flex-direction: row;
}

/* .anteprojeto_Modal .modal-body input, select{
        margin: 0;
        font-size: 15px;
        padding-left: 15px;
   
} */

.anteprojeto_Modal .form-select {
    width: 100%;
    font-size: 15px;
    padding-left: 15px;
}

.anteprojeto_Modal .modal-body form label{
    font-size: 14;
    font-weight: 600;
}

.anteprojeto_Modal .boxe {
    overflow-y: scroll;
    height: 136px;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid rgba(153, 170, 203, 0.44);
    border-radius: 8px;
}
.anteprojeto_Modal form .boxe label {
    margin-left: 25px !important;
    font-weight: 100;
}
.anteprojeto_Modal .boxe input {
    margin-top: 5px !important;
    margin-left: 2px !important;
}

/* .anteprojeto_Modal form fieldset fieldset .radio-check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 28px;
} */
.anteprojeto_Modal form fieldset:nth-child(2) {

    display: flex;
    flex-direction: row;

}
.anteprojeto_Modal form fieldset:nth-child(6) .check {
    display: inline-flex;
    flex-direction: row;
    width: 30%;
    margin: 8px;
}




.form-control .is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}
.al-msg {
    margin: 0;
    width: 100%;
}


@media only screen and (min-width: 360px) {
    .anteprojeto_Modal .modal-dialog .modal-content{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .anteprojeto_Modal:not(.sign_up_modal) .modal-dialog {
        width: 125% !important;
        max-width: 125% !important;
        top: 7%;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(2){
        display: flex;
        flex-direction: column;
    }
    .anteprojeto_Modal form fieldset:nth-child(6) .label {
        margin-left: -15px;
    }
    .anteprojeto_Modal form fieldset:nth-child(6) {      
        display: flex;
        flex-direction: column;
        gap: 0.6em;
    }


}

@media only screen and (min-width: 845px) {
    .anteprojeto_Modal .modal-dialog .modal-content{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    .anteprojeto_Modal:not(.sign_up_modal) .modal-dialog {
        width: 130% !important;
        max-width: 130% !important;
        top: 7%;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(2){
        display: flex;
        flex-direction: row;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7){
        display: flex;
        flex-direction: row-reverse;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7) .md{
        display: flex;
        flex-shrink: 5;
    }

}


@media only screen and (min-width: 928px) {
    .anteprojeto_Modal .modal-dialog .modal-content{
        border-radius: 10px;
        width: 100%;
        margin: 0px;
    }

    .anteprojeto_Modal:not(.sign_up_modal) .modal-dialog {
        width: 100% !important;
        max-width: 100% !important;
        top: 7%;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(2){
        display: flex;
        flex-direction: row;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7){
        display: flex;
        flex-direction: row-reverse;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7) .md{
        display: flex;
        flex-shrink: 5;
    }

}

@media only screen and (min-width: 1200px) {
    .anteprojeto_Modal .modal-dialog .modal-content{
        border-radius: 10px;
        width: 100%;
        margin: 0px;
    }

    .anteprojeto_Modal:not(.sign_up_modal) .modal-dialog {
        width: 100% !important;
        max-width: 80% !important;
        top: -20px;
    }

    .anteprojeto_Modal .modal-body fieldset:nth-child(2){
        display: flex;
        flex-direction: row;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(6){
        display: flex;
        flex-direction: row;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7){
        display: flex;
        flex-direction: row-reverse;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7) .md{
        display: flex;
        flex-shrink: 5;
    }

}

@media only screen and (min-width: 1600px) {
    .anteprojeto_Modal .modal-dialog .modal-content{
        border-radius: 10px;
        width: 100%;
        margin: 0px;
    }

    .anteprojeto_Modal:not(.sign_up_modal) .modal-dialog {
        width: 100% !important;
        max-width: 60% !important;
        top: -20px;
    }

    .anteprojeto_Modal .modal-body fieldset:nth-child(2){
        display: flex;
        flex-direction: row;
    } 
    .anteprojeto_Modal .modal-body fieldset:nth-child(6){
        display: flex;
        flex-direction: row;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7){
        display: flex;
        flex-direction: row-reverse;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7) .md{
        display: flex;
        flex-shrink: 5;
    }
    
}

@media only screen and (min-width: 2200px) {
    .anteprojeto_Modal .modal-dialog .modal-content{
        border-radius: 10px;
        width: 100%;
        margin: 0px;
    }

    .anteprojeto_Modal:not(.sign_up_modal) .modal-dialog {
        width: 100% !important;
        max-width: 40% !important;
        top: -24px;
    }

    .anteprojeto_Modal .modal-body fieldset:nth-child(2){
        display: flex;
        flex-direction: row;
    } 
    .anteprojeto_Modal .modal-body fieldset:nth-child(6){
        display: flex;
        flex-direction: row;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7){
        display: flex;
        flex-direction: row-reverse;
    }
    .anteprojeto_Modal .modal-body fieldset:nth-child(7) .md{
        display: flex;
        flex-shrink: 5;
    }


}