.title {
    display: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    border: 0px;
    color: #0a0a0a;
    background-color: #90b6de;
    border-bottom: 1.5px solid #545b62;
    font-weight: 600;
}

.nav-pills .nav-link {
    border: 0px solid;
    border-radius: .0rem;
    font-size: 18px;
    background-color: #007bff12;
    border-right: 1px solid #a4a4a4;
    border-left: 2px solid #f0f0f0;
}

.nav-link {
    display: block;
    padding: 10px 22px;
}



@media (max-width: 390px) {

    .tabs_img {
        margin-left: 10px;
        width: 270px;
        height: 360px;
    }

    .bs-tooltip-left {
        display: none;
        width: 210px;
        margin-top: 50px;
    }

    .tooltip .tooltip-inner {
        display: none;
        background-color: #7090bb;!important;
    }
    .tooltip .tooltip-arrow {
        display: none;
        border-left-color: #7090BBFF;!important;
    }

}

@media (min-width: 992px) {

    /*.bs-tooltip-right .arrow::before,.bs-tooltip-auto[x-placement^="right"] .arrow::before {*/
    /*    border-right-color: #1f1f1f !important;*/
    /*}*/

    .bs-tooltip-left {
        width: 210px;
        margin-top: 50px;
    }

    .tooltip .tooltip-inner {
        background-color: #7090bb;!important;
    }
    .tooltip .tooltip-arrow {
        border-left-color: #7090BBFF;!important;
    }


}

.cor_fundo {
    background-color: rgb(245, 245, 246);
    padding: 0px;
}

.ccn_tabs {
    text-align: left;
    padding: 12px 24px;
    box-shadow: 0 6px 6px 0 rgb(0 0 10 / 36%)!important;
    text-align: center;
    background-color: #9ab5c6;
}

.button_tabs{
    margin-top: 15%;
}
.button_tabs li {
    margin-bottom: 20px;
}

.lib-service input {
    height: 43px;
}
.lib-service select {
    height: 43px;
}








