{{#eva_facebook_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_facebook_url }}}"><i class="fa fa-facebook"></i></a></li>
{{/eva_facebook_url}}
{{#eva_twitter_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_twitter_url }}}"><i class="fa fa-twitter"></i></a></li>
{{/eva_twitter_url}}
{{#eva_instagram_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_instagram_url }}}"><i class="fa fa-instagram"></i></a></li>
{{/eva_instagram_url}}
{{#eva_pinterest_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_pinterest_url }}}"><i class="fa fa-pinterest"></i></a></li>
{{/eva_pinterest_url}}
{{#eva_dribbble_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_dribbble_url }}}"><i class="fa fa-dribbble"></i></a></li>
{{/eva_dribbble_url}}
{{#eva_google_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_google_url }}}"><i class="fa fa-google"></i></a></li>
{{/eva_google_url}}
{{#eva_youtube_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_youtube_url }}}"><i class="fa fa-youtube-play"></i></a></li>
{{/eva_youtube_url}}
{{#eva_vk_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_vk_url }}}"><i class="fa fa-vk"></i></a></li>
{{/eva_vk_url}}
{{#eva_500px_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_500px_url }}}"><i class="fa fa-500px"></i></a></li>
{{/eva_500px_url}}
{{#eva_behance_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_behance_url }}}"><i class="fa fa-behance"></i></a></li>
{{/eva_behance_url}}
{{#eva_digg_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_digg_url }}}"><i class="fa fa-digg"></i></a></li>
{{/eva_digg_url}}
{{#eva_flickr_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_flickr_url }}}"><i class="fa fa-flickr"></i></a></li>
{{/eva_flickr_url}}
{{#eva_foursquare_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_foursquare_url }}}"><i class="fa fa-foursquare"></i></a></li>
{{/eva_foursquare_url}}
{{#eva_linkedin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_linkedin_url }}}"><i class="fa fa-linkedin"></i></a></li>
{{/eva_linkedin_url}}
{{#eva_medium_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_medium_url }}}"><i class="fa fa-medium"></i></a></li>
{{/eva_medium_url}}
{{#eva_meetup_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_meetup_url }}}"><i class="fa fa-meetup"></i></a></li>
{{/eva_meetup_url}}
{{#eva_snapchat_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_snapchat_url }}}"><i class="fa fa-snapchat-ghost"></i></a></li>
{{/eva_snapchat_url}}
{{#eva_tumblr_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_tumblr_url }}}"><i class="fa fa-tumblr"></i></a></li>
{{/eva_tumblr_url}}
{{#eva_vimeo_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_vimeo_url }}}"><i class="fa fa-vimeo"></i></a></li>
{{/eva_vimeo_url}}
{{#eva_wechat_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_wechat_url }}}"><i class="fa fa-wechat"></i></a></li>
{{/eva_wechat_url}}
{{#eva_whatsapp_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_whatsapp_url }}}"><i class="fa fa-whatsapp"></i></a></li>
{{/eva_whatsapp_url}}
{{#eva_wordpress_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_wordpress_url }}}"><i class="fa fa-wordpress"></i></a></li>
{{/eva_wordpress_url}}
{{#eva_weibo_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_weibo_url }}}"><i class="fa fa-weibo"></i></a></li>
{{/eva_weibo_url}}
{{#eva_telegram_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_telegram_url }}}"><i class="fa fa-telegram"></i></a></li>
{{/eva_telegram_url}}
{{#eva_moodle_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_moodle_url }}}"><i class="fa fa-graduation-cap"></i></a></li>
{{/eva_moodle_url}}
{{#eva_amazon_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_amazon_url }}}"><i class="fa fa-amazon"></i></a></li>
{{/eva_amazon_url}}
{{#eva_slideshare_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_slideshare_url }}}"><i class="fa fa-slideshare"></i></a></li>
{{/eva_slideshare_url}}
{{#eva_soundcloud_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_soundcloud_url }}}"><i class="fa fa-soundcloud"></i></a></li>
{{/eva_soundcloud_url}}
{{#eva_leanpub_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_leanpub_url }}}"><i class="fa fa-leanpub"></i></a></li>
{{/eva_leanpub_url}}
{{#eva_xing_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_xing_url }}}"><i class="fa fa-xing"></i></a></li>
{{/eva_xing_url}}
{{#eva_bitcoin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_bitcoin_url }}}"><i class="fa fa-btc"></i></a></li>
{{/eva_bitcoin_url}}
{{#eva_twitch_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_twitch_url }}}"><i class="fa fa-twitch"></i></a></li>
{{/eva_twitch_url}}
{{#eva_github_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_github_url }}}"><i class="fa fa-github"></i></a></li>
{{/eva_github_url}}
{{#eva_gitlab_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_gitlab_url }}}"><i class="fa fa-gitlab"></i></a></li>
{{/eva_gitlab_url}}
{{#eva_forumbee_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_forumbee_url }}}"><i class="fa fa-forumbee"></i></a></li>
{{/eva_forumbee_url}}
{{#eva_trello_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_trello_url }}}"><i class="fa fa-trello"></i></a></li>
{{/eva_trello_url}}
{{#eva_weixin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ eva_weixin_url }}}"><i class="fa fa-weixin"></i></a></li>
{{/eva_weixin_url}}
