{{!
    @ccnRef: @template block_login
}}

<div class="row">
    <div class="col-md-auto logo-esagu">
        <img class="logo-esagu-img" src="/theme/evagu/images/login/logo-esagu.png" title="Escola Virtual da AGU">
    </div>
</div>
</br>
<div id="img-login">
    <img class="login-img" src="/theme/evagu/images/login/logo-login.png" alt="Login">
    <p>LOGIN</p>
</div>
<p class="text-center">Acesse com a conta da Rede AGU.</p>
<div class="heading btn-login">
    {{#signup_is_enabled}}
        <p class="text-center">{{#str}} login_no_account, theme_evagu {{/str}} <a class="text-thm"
                href="{{{ config.wwwroot }}}/login/signup.php">{{#str}} signup, theme_evagu {{/str}}</a></p>
    {{/signup_is_enabled}}
</div>
{{{ ccn_login }}}

{{#js}}
    $('#id_login').click(function(){
    $(this).attr('hidden', true)
    $('.aguarde').removeAttr('hidden')
    });
{{/js}}