{{!
    @ccnRef: @template block_login
}}

<div class="row">
    <div class="col-md-6 logo-eva">
        <img class="logo-eva-img" src="/theme/evagu/images/login/logo-eva.png" alt="Escola Virtual da AGU">
    </div>
    <div class="col-md-6 logo-agu">
        <img class="logo-agu-img" src="/theme/evagu/images/login/logo-agu.png" alt="Advocacia Geral da União">
    </div>
</div>
</br>
<div class="info-forgot">
    <p class="recuperar-senha">RECUPERAR SENHA</p>
    <p class="infoForgot">{{#str}} inforecuperarsenha, theme_evagu {{/str}}</p>
</div>
{{{ ccn_forgot }}}

