{{!
@ccnRef: @template block_login
}}
<div class="heading">
    <div class="logo-eva">
        <img src="/theme/evagu/images/login/logo-cadastro.png" alt="">
    </div>
    <h3 class="text-center">{{#str}} login_welcome, theme_evagu {{/str}}</h3>
    {{#signup_is_enabled}}
        <p class="text-center">{{#str}} login_no_account, theme_evagu {{/str}} <a class="text-thm"
                href="{{{ config.wwwroot }}}/login/signup.php">{{#str}} signup, theme_evagu {{/str}}</a></p>
    {{/signup_is_enabled}}
</div>
{{{ ccn_login }}}