<style>
    .avaliador_baremapos_Modal:before {
        background-color: rgba(0,0,0,.9);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .avaliador_baremapos_Modal .modal-dialog .m_area {
        color: #000;
        /*background-color: #d1e9ff4d;*/
        padding: 10px;
        border-top: 0px solid #aac3e84f;
    }

    .avaliador_baremapos_Modal .modal-dialog .bp-modal-content {
        border-radius: 10px;
        padding: 0px;
        width: 50%;
        margin: 13% auto;
    }
    .avaliador_baremapos_Modal .modal-dialog .bp-modal-content .bp-modal-header{
        padding: 15px;
    }
    .avaliador_baremapos_Modal .modal-dialog .bp-modal-footer{
        padding: 10px;
    }

    #id_titular_user_id, #id_suplente_user_id {
        width: 95%;
    }
    .ml200 {
        margin-left: 252px;
    }


</style>
<div class="avaliador_baremapos_Modal modal fade" id="avaliador_baremapos_Modal" tabindex="-1" aria-labelledby="avaliador_baremapos_ModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content bp-modal-content">
            <div class="modal-header bp-modal-header">
                <h5 class="modal-title" id="avaliador_baremapos_ModalLabel"></h5>
                <button type="button" class="btn-close modalClose" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                {{! <input type="hidden" name="editavaliador_baremapos" id="id_edit_avaliador_baremapos" value=""> }}
                <div class="fcontainer clearfix m_area">
                    <div id="bitem_id_titular_user_id" class="form-group row bitem">
                        <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                            <label class="d-inline word-break " for="id_titular_user_id">Avaliador</label>
                            <div class="form-label-addon d-flex align-items-center align-self-start">
                                <div class="text-danger" title="Necessários">
                                    <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Necessários"
                                    aria-label="Necessários"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-9 col-md-9 align-items-start felement" data-fieldtype="select">
                            <select class="custom-select selectavaliador titular_user_id" name="user_id" id="user_id" data-root="{{{ config.wwwroot }}}">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bp-modal-footer eventButton">
                    <button type="button" class="btn btn-secondary modalFechar" data-dismiss="modal">Fechar</button>
                    <button type="button" name="editarbutton_avaliador" class="btn btn-primary btnEvento" data-root="{{{ config.wwwroot }}}" onclick="add_alter_avaliador_baremapos(this)"></button>
                </div>
                <!--                </form>-->
            </div>
        </div>
    </div>
</div>

