<link rel="stylesheet" href="/blocks/eva_library_central/central.css">
<div class="container-fluid pt50 pb50">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 pt30" style="text-align: -webkit-center;">
                <div width="40%" class="text-center titulo">
                    <h4 class="mt-0" style="font-size: 35px; font-weight: 600; color: #000000; text-shadow: 1px 1px 7px #aeaeae; text-align: left;">{{title}}</h4>
                    <hr style="border: 1px solid #6a8799">
                </div>
            </div>

            <div class="col-lg-6 pt20 pb20">
                <div class="justify-content-center p20 bshadow">
                    <p class="text-justify" data-ccn="" data-ccn-c="color_body">{{{body}}}</p>
                    <!--                    <p class="text-justify" data-ccn="{{{ccnBody}}}" data-ccn-c="color_body">{{{body}}}</p>-->
                </div>
            </div>
        </div>
    </div>
</div>