.title {
    display: none;
}

.blog_tag_widget {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.block_eva_continuing_education_b3 {
    margin-top: 0px !important;
}

@media (min-width: 100px) and (max-width: 991px) {
    .setMargins {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .setMargins_bottom {
        margin-bottom: 60px;
    }
    .divPrincipalb3_left {
        width: 100%;
        padding: 30px auto !important;
    }
    .divPrincipalb3_right {
        width: 100%;
        padding: 30px auto !important;
    }
    .tituloPrincipalb3 {
        font-size: 2.25rem;
        font-weight: 700;
        margin: 0;
        margin-top: 20px;
        position: relative;
    }
    .subtituloPrincipalb3 {
        /* font-style: italic; */
        font-weight: 700;
        margin: 20px 100px 0 0;
        padding: 0;
        /* color: #e4e2e0 !important; */
        position: relative;
    }
    .blockquotebarb3 {
        font-family: "[[setting:primary_font]]"'Open Sans', sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;
        border-left: 4px solid #abb9d0;
        font-size: 1.2rem;
        padding-left: 20px;
        position: relative;
        /* font-style: italic; */
        text-align: justify;
    }
    .cardDivPrincipal {
        font-size: 4em;
        /* color: #a7b7c7; */
        float: none;
        min-height: 0px;
        min-width: 0px;
        width: 0px;
        height: 0px;
        margin: 40px;
    }
    /* #itemLinkPrincipal:hover>span {
        color: #3f9ed6;
    } */
    #itemLinkPrincipal:hover>h3 {
        font-size: 25px;
    }
}

@media (min-width: 992px) {
    .setMargins {
        margin-left: 16%;
        margin-right: 16%;
    }
    .setMargins_bottom {
        margin-bottom: 60px;
    }
    .divPrincipalb3_left {
        width: 100%;
        padding: 30px auto !important;
    }
    .divPrincipalb3_right {
        width: 100%;
        padding: 30px auto !important;
    }
    .tituloPrincipalb3 {
        font-size: 2.25rem;
        font-weight: 700;
        margin: 0;
        margin-top: 20px;
        position: relative;
    }
    .subtituloPrincipalb3 {
        /* font-style: italic; */
        font-weight: 700;
        margin: 20px 100px 0 0;
        padding: 0;
        /* color: #e4e2e0 !important; */
        position: relative;
    }
    .blockquotebarb3 {
        font-family: "[[setting:primary_font]]"'Open Sans', sans-serif;
        margin-top: 20px;
        margin-bottom: 20px;
        border-left: 4px solid #abb9d0;
        font-size: 1.2rem;
        padding-left: 20px;
        position: relative;
        /* font-style: italic; */
        text-align: justify;
    }
    .cardDivPrincipal {
        font-size: 4em;
        /* color: #a7b7c7; */
        float: left;
        min-height: 100%;
        min-width: 15%;
        width: 15%;
        height: 100%;
        margin: 40px;
    }
    /* #itemLinkPrincipal:hover>span {
        color: #3f9ed6;
    } */
    #itemLinkPrincipal:hover>h3 {
        font-size: 25px;
    }
}