.u-section {
    display: block;
    padding: 30px 0 !important;
}

.title {
    display: none;
}

.blog_tag_widget {
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.block_eva_continuing_education_b1 {
    margin-top: 0px !important;
}

.u-align-center {
    text-align: center;
    margin: 2% auto !important;
}

.bg_color_principal {
    /* background-color: #eff2fc; */
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .corDeFundo {
    background-color: rgb(255, 255, 255) !important;
    max-height: 250px;
    min-height: 250px;
} */

/* .corDeFundoIcon {
    color: rgb(111, 128, 158) !important;
} */

/* .corDeFundoIcon:hover {
    color: rgb(255, 255, 255) !important;
} */

.corDeFundoTexto {
    color: rgb(62, 68, 72) !important;
}

.corDeFundoTexto:hover {
    color: rgb(255, 255, 255) !important;
}

/* .corDeFundo:hover {
    background-color: rgb(142, 157, 167) !important;
    max-height: 250px;
    min-height: 250px;
} */

@media (min-width: 100px) and (max-width: 991px) {
    .config_boxe {
        z-index: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .imgPrincipal {
        border-radius: 100%;
        max-height: 500px !important;
        display: none;
    }

    .cardDiv {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .config_boxe {
        position: absolute;
        z-index: 1;
        margin-top: 6%;
        /* margin-left: 20%; */
    }

    .imgPrincipal {
        border-radius: 100%;
        max-height: 500px !important;
        display: block;
    }

    .cardDiv {
        height: 100%;
        width: 100%;
    }
}