.anteproject_modal:before {
    background-color: rgba(0,0,0,.9);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.m_area {
    color: #000;
    background-color: #d1e9ff4d;
    padding: 15px 13px;
    border-top: 0px solid #aac3e84f;
}

.m_area .felement .form-control, .form-select {
    width: 100%;
}
.fc-file {
    padding: 0 !important;
}
.modal-content {
    width: 50%;
    margin: 13% auto;
}

.m_body{
    padding: 0 !important;
}

.boxe {
    overflow-y: scroll;
    height: 150px;
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid rgba(153, 170, 203, 0.44);
}
.form-check {
    float: left;
    width: 100% !important;
    justify-content: normal !important;
}
.modal-content {
    width: 70%;
    margin: 0% auto;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #dc3545 !important;
}
.al-msg {
    margin: 0;
    width: 100%;
}