.title{
    display: none;
}

.blog_tag_widget{
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.u-section-1-info {
    background-image: none;
}

.u-sheet-info {
    position: relative;
}

.u-align-center-info {
    text-align: center;
}

.u-align-justify-info{
    text-align: justify;
}

.u-valign-middle-md-info, .u-valign-middle-sm-info, .u-valign-middle-xs-info {
    justify-content: center;
}

.u-valign-middle-md-info, .u-valign-top-md-info, .u-valign-bottom-md-info, .u-valign-middle-xs-info {
    display: flex;
    flex-direction: column;
}

.u-image-info, .u-background-effect-image-info, .u-video-poster-info {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.u-palette-5-base-info, .u-body.u-palette-5-base-info, .u-container-style-info, .u-palette-5-base-info:before, .u-table-alt-palette-5-base-info tr:nth-child(even) {
    /* color: #111111; */
    /* background-color: #b9c1cc; */
}

.u-custom-color-3-info, .u-body.u-custom-color-3-info, .u-container-style-info, .u-custom-color-3-info:before, .u-table-alt-custom-color-3-info tr:nth-child(even) {
    /* color: #ffffff; */
    /* background-color: #59617d; */
}

.u-grey-10-info {
    /* background-color: #e5e5e5; */
}

.u-back-image-info, .u-image-tiles-info, .u-image-info, .u-image-tiles-info {
    background-size: initial;
    background-repeat: repeat;
    background-position: top left !important;
}

@media (min-width: 1200px) {
    .text1-info{
        font-weight: 400; 
        font-size: 1.5rem; 
        line-height: 1.2; 
        /* color: #000; */
    }

    .text2-info{
        font-weight: 400; 
        font-size: 3.5rem; 
        line-height: 1.1; 
        /* color: #000; */
    }

    .text3-info{
        font-size: 1.25rem; 
        font-style: italic; 
        margin: 22px 0 0; 
        /* color: #000; */
    }

    .u-btn-1-info {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #597f8c;
        color: #fff; */
    }

    .u-btn-1-info:hover {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #31768d;
        color: #fff; */
    }

    .u-section-1-info .u-image-1-info {
        width: 50%;
        max-width: 50%;
        min-height: 640px;
        margin-left: 35%;
        position: absolute;
        z-index: 1;
    }

    .u-section-1-info .u-container-layout-1-info {
        padding: 30px;
    }
    
    .u-container-layout-info {
        position: relative;
        flex: 1;
        max-width: 100%;
    }

    .u-section-1-info .u-group-2-info {
        width: 50%;
        min-height: 509px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        height: auto;
        background-image: none;
        margin: -300px 0 60px auto;
        z-index: 3;
    }   
    
    .u-section-1-info .u-container-layout-2-info {
        padding: 30px 60px;
    }

    .u-section-1-info .u-shape-1-info {
        height: 1000px;
        width: 60%;
        background-image: none;
        margin-left: 5%;
        z-index: 1;
    }

    .u-section-1-info .u-image-2-info {
        width: 90%;
        height: 605px;
        box-shadow: 2px 2px 8px 0 rgb(128 128 128);
        margin: -935px auto 0 0;
        z-index: 2;
    }

    .u-subtitle-info{
        /* color: #ffffff; */
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .u-text-2-info{
        line-height: 2;
        margin: 31px 0 0;
        font-size: 1rem;
    }
}
    
@media (min-width: 992px) and (max-width: 1199px) {
    .text1-info{
        font-weight: 400; 
        font-size: 1.5rem; 
        line-height: 1.2; 
        /* color: #000; */
    }

    .text2-info{
        font-weight: 400; 
        font-size: 3.5rem; 
        line-height: 1.1; 
        /* color: #000; */
    }

    .text3-info{
        font-size: 1.25rem; 
        font-style: italic; 
        margin: 22px 0 0; 
        /* color: #000; */
    }

    .u-btn-1-info {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #597f8c;
        color: #fff; */
    }

    .u-btn-1-info:hover {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #31768d;
        color: #fff; */
    }

    .u-section-1-info .u-image-1-info {
        width: 50%;
        max-width: 50%;
        min-height: 640px;
        margin-left: 35%;
        position: absolute;
        z-index: 1;
    }

    .u-section-1-info .u-container-layout-1-info {
        padding: 30px;
    }
    
    .u-container-layout-info {
        position: relative;
        flex: 1;
        max-width: 100%;
    }

    .u-section-1-info .u-group-2-info {
        width: 50%;
        min-height: 509px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        height: auto;
        background-image: none;
        margin: -300px 0 60px auto;
        z-index: 3;
    }   
    
    .u-section-1-info .u-container-layout-2-info {
        padding: 30px 60px;
    }

    .u-section-1-info .u-shape-1-info {
        height: 1000px;
        width: 60%;
        background-image: none;
        margin-left: 5%;
        z-index: 1;
    }

    .u-section-1-info .u-image-2-info {
        width: 90%;
        height: 605px;
        box-shadow: 2px 2px 8px 0 rgb(128 128 128);
        margin: -935px auto 0 0;
        z-index: 2;
    }

    .u-subtitle-info{
        /* color: #ffffff; */
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .u-text-2-info{
        line-height: 2;
        margin: 31px 0 0;
        font-size: 1rem;
    }
}
    
@media (min-width: 768px) and (max-width: 991px) {
    .text1-info{
        font-weight: 400; 
        font-size: 1.5rem; 
        line-height: 1.2; 
        /* color: #000; */
    }

    .text2-info{
        font-weight: 400; 
        font-size: 3.5rem; 
        line-height: 1.1; 
        /* color: #000; */
    }

    .text3-info{
        font-size: 1.25rem; 
        font-style: italic; 
        margin: 22px 0 0; 
        /* color: #000; */
    }

    .u-btn-1-info {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #597f8c;
        color: #fff; */
    }

    .u-btn-1-info:hover {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #31768d;
        color: #fff; */
    }

    .u-section-1-info .u-image-1-info {
        width: 50%;
        max-width: 50%;
        min-height: 640px;
        margin-left: 35%;
        position: absolute;
        z-index: 1;
    }

    .u-section-1-info .u-container-layout-1-info {
        padding: 30px;
    }
    
    .u-container-layout-info {
        position: relative;
        flex: 1;
        max-width: 100%;
    }

    .u-section-1-info .u-group-2-info {
        width: 60%;
        min-height: 509px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        height: auto;
        background-image: none;
        margin: -300px 0 60px auto;
        z-index: 3;
    }   
    
    .u-section-1-info .u-container-layout-2-info {
        padding: 30px 60px;
    }

    .u-section-1-info .u-shape-1-info {
        height: 1000px;
        width: 60%;
        background-image: none;
        margin-left: 5%;
        z-index: 1;
    }

    .u-section-1-info .u-image-2-info {
        width: 90%;
        height: 605px;
        box-shadow: 2px 2px 8px 0 rgb(128 128 128);
        margin: -935px auto 0 0;
        z-index: 2;
    }

    .u-subtitle-info{
        /* color: #ffffff; */
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .u-text-2-info{
        line-height: 2;
        margin: 31px 0 0;
        font-size: 1rem;
    }
}
    
@media (min-width: 576px) and (max-width: 767px) {
    .text1-info{
        font-weight: 400; 
        font-size: 0.7rem; 
        line-height: 1.2; 
        /* color: #000; */
    }

    .text2-info{
        font-weight: 400; 
        font-size: 2rem; 
        line-height: 1.1; 
        /* color: #000; */
    }

    .text3-info{
        font-size: 1rem; 
        font-style: italic; 
        margin: 22px 0 0; 
        /* color: #000; */
    }

    .u-btn-1-info {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #597f8c;
        color: #fff; */
    }

    .u-btn-1-info:hover {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #31768d;
        color: #fff; */
    }

    .u-section-1-info .u-image-1-info {
        width: 50%;
        max-width: 50%;
        min-height: 640px;
        margin-left: 35%;
        position: absolute;
        z-index: 1;
    }

    .u-section-1-info .u-container-layout-1-info {
        padding: 30px;
    }
    
    .u-container-layout-info {
        position: relative;
        flex: 1;
        max-width: 100%;
    }

    .u-section-1-info .u-group-2-info {
        width: 65%;
        min-height: 509px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        height: auto;
        background-image: none;
        margin: -300px 0 60px auto;
        z-index: 3;
    }   
    
    .u-section-1-info .u-container-layout-2-info {
        padding: 30px 60px;
    }

    .u-section-1-info .u-shape-1-info {
        height: 1000px;
        width: 70%;
        background-image: none;
        margin-left: 5%;
        z-index: 1;
    }

    .u-section-1-info .u-image-2-info {
        width: 90%;
        height: 605px;
        box-shadow: 2px 2px 8px 0 rgb(128 128 128);
        margin: -935px auto 0 0;
        z-index: 2;
    }

    .u-subtitle-info{
        /* color: #ffffff; */
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .u-text-2-info{
        line-height: 2;
        margin: 31px 0 0;
        font-size: 1rem;
    }
}
    
@media (max-width: 575px) {
    .text1-info{
        font-weight: 400; 
        font-size: 1rem; 
        line-height: 1.2; 
        /* color: #000; */
    }

    .text2-info{
        font-weight: 400; 
        font-size: 2.5rem; 
        line-height: 1.1; 
        /* color: #000; */
    }

    .text3-info{
        font-size: 1rem; 
        font-style: italic; 
        margin: 22px 0 0; 
        /* color: #000; */
    }

    .u-btn-1-info {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #597f8c;
        color: #fff; */
    }

    .u-btn-1-info:hover {
        letter-spacing: 1px;
        border-style: none;
        font-weight: 700;
        /* text-transform: uppercase; */
        margin: 62px auto 0 0;
        padding: 15px;
        /* background-color: #31768d;
        color: #fff; */
    }

    .u-section-1-info .u-image-1-info {
        width: 50%;
        max-width: 50%;
        min-height: 640px;
        margin-left: 35%;
        position: absolute;
        z-index: 1;
    }

    .u-section-1-info .u-container-layout-1-info {
        padding: 30px;
    }
    
    .u-container-layout-info {
        position: relative;
        flex: 1;
        max-width: 100%;
    }

    .u-section-1-info .u-group-2-info {
        width: 80%;
        min-height: 509px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        height: auto;
        background-image: none;
        margin: -300px 0 60px auto;
        z-index: 3;
    }   
    
    .u-section-1-info .u-container-layout-2-info {
        padding: 30px 60px;
    }

    .u-section-1-info .u-shape-1-info {
        height: 1000px;
        width: 80%;
        background-image: none;
        margin-left: 5%;
        z-index: 1;
    }

    .u-section-1-info .u-image-2-info {
        width: 90%;
        height: 605px;
        box-shadow: 2px 2px 8px 0 rgb(128 128 128);
        margin: -935px auto 0 0;
        z-index: 2;
    }

    .u-subtitle-info{
        /* color: #ffffff; */
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .u-text-2-info{
        line-height: 2;
        margin: 31px 0 0;
        font-size: 1rem;
    }
}