.title {
    display: none;
}

.blog_tag_widget {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (min-width: 996px) {
    .img_about {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 22%;
        height: 519px;
        width: 315px;
    }
}

@media (min-width: 996px) {
    .w-card {
        max-width: 600px;
    }

    .img_about {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 22%;
        height: 520px;
        width: 340px;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }

    .divimg1 {
        /*border: 1px solid red;*/
        width: 580px;
        height: 415px;
    }

    .divimg2 {
        border: 1px solid #bdcbd4;
        background-color: rgb(103 118 135 / 43%);
        width: 600px;
        height: 300px;
        margin-top: 95px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
    }

    .dbtexto p {
        text-align: justify;
        padding-right: 0px;
        font-size: 15px;
    }
}

.ccn-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.fl-right {
    text-align: -webkit-right;
}

.pl {
    padding: 0px !important;
    padding-left: 30px;
    padding-bottom: 40px;
}
