.title{
    display: none;
}
.blog_tag_widget{
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
.social_link:hover {
    color: #8184ff;
}
.u-list:not(.u-repeater), .u-blog:not(.u-repeater), .u-products:not(.u-repeater) {
    display: flex;
    flex-direction: column;
}
.u-list-1 {
    grid-template-rows: repeat(2, auto);
    margin-top: 21px;
    margin-bottom: 0;
}
.u-expanded-width {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.u-list:not(.u-repeater) .u-repeater, .u-blog:not(.u-repeater) .u-repeater, .u-products:not(.u-repeater) .u-repeater {
    flex: 1;
}
.u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0px;
}
.u-repeater {
    grid-template-columns: repeat(3, 33.33333333%);
}
.u-repeater-item {
    display: flex;
    position: relative;
}
.u-container-layout-1 {
    padding: 30px;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
.u-radius-20, .u-radius-20:before, .u-radius-20 .u-background-effect, .u-radius-20:not(.u-hover-box) > .u-container-layout {
    border-radius: 20px !important;
}
/* img.u-image{
    overflow: hidden;
} */
.u-white, .u-body.u-white, .u-container-style.u-white:before, .u-container-layout.u-white:before, .u-table-alt-white tr:nth-child(even) {
    color: #000000;
    background-color: #fff;
}
.u-radius-10, .u-radius-10:before, .u-radius-10 .u-background-effect, .u-radius-10:not(.u-hover-box) > .u-container-layout {
    border-radius: 10px !important;
}
.u-group {
    display: flex;
}
.u-font-oswald.u-custom-font {
    font-family: Oswald, sans-serif !important;
}
.u-group .u-container-layout > * {
    position: relative;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a, .u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content) a:hover {
    text-decoration: none;
}
.u-text-body-color, a.u-button-style.u-text-body-color, a.u-button-style.u-text-body-color[class*="u-border-"] {
    color: #000000 !important;
}
.u-table-cell .u-btn.u-button-link, .u-text .u-btn.u-button-link {
    display: inline;
}
.u-button-style.u-border-none, .u-button-style.u-border-hover-none:hover, .u-button-style.u-border-hover-none:focus, .u-button-style.u-border-active-none:active, .u-button-style.u-border-active-none.active, li.active > .u-button-style.u-border-active-none {
    border-color: transparent !important;
    border-width: 0;
}
.u-table-cell .u-btn, .u-text .u-btn {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    white-space: normal;
    text-align: inherit;
}
.u-text a, .u-post-content a, .u-tab-item a, .u-nav-item a {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}
.u-border-none {
    border-width: 0 !important;
}
.u-btn {
    display: table;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-style: inherit;
    font-weight: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    -webkit-text-decoration-skip: objects;
    font-style: initial;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
}
.u-custom-font.u-text-font {
    font-family: "[[setting:secondary_font]]", helvetica, arial, sans-serif;
}
.u-group .u-container-layout > * {
    position: relative;
}
.u-text-palette-2-base, a.u-button-style.u-text-palette-2-base, a.u-button-style.u-text-palette-2-base[class*="u-border-"] {
    color: #7f99ab !important;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-align-center {
    text-align: center;
}
.u-group .u-container-layout > * {
    position: relative;
}
.u-valign-middle-xl {
    justify-content: center;
}
.u-valign-middle-xl, .u-valign-top-xl, .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
}
.u-text-palette-1-light-2, a.u-button-style.u-text-palette-1-light-2, a.u-button-style.u-text-palette-1-light-2[class*="u-border-"] {
    color: #adcce9 !important;
}
.u-border-white, .u-separator-white:after {
    border-color: #ffffff;
    stroke: #ffffff;
}
.u-border-5, .u-separator-5:after, .u-text.u-border-5, a.u-button-style.u-border-5 {
    border-width: 5px;
}
.u-align-right{
    text-align: right;
}
.u-text-default {
    display: table;
    align-self: flex-start;
}
.u-valign-top-xl {
    justify-content: flex-start;
}
.u-valign-middle-xl, .u-valign-top-xl, .u-valign-bottom-xl {
    display: flex;
    flex-direction: column;
}
.u-align-left-xl {
    text-align: left;
}
.u-align-left {
    text-align: left;
}
.ul-padding {
    padding-left: 20px;
}
.u-layout-cell {
    border: 4px solid transparent;
    position: relative;
    display: flex;
    background-clip: padding-box;
    background-origin: padding-box;
}
.u-layout-cell-3 {
    min-height: 147px;
}
.u-layout-cell, .u-container-style.u-opacity, .u-container-layout.u-opacity, .u-group.u-opacity {
    background-color: transparent !important;
}
.u-layout-row > * {
    max-height: 100%;
    min-height: -webkit-fit-content;
    min-height: fit-content;
}
.u-layout-cell-4 {
    min-height: 171px;
}
.u-container-layout-12 {
    padding: 0 5px;
}
.u-layout-cell-5 {
    min-height: 147px;
    background-image: linear-gradient(#7f99ab, #425465);
}
.u-layout-cell-6 {
    background-image: linear-gradient(#7f99ab, #425465);
}
.u-container-layout-13 {
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    padding: 30px 18px;
}
.u-container-layout-14 {
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    padding: 30px 18px;
}
.u-size-15 {
    flex: 0 0 25%;
}
.u-image-7 {
    width: 180px;
    height: 90px;
    margin: 26px auto 0;
}
.u-image-6 {
    width: 180px;
    height: 90px;
    margin: 24px auto 0;
}
.u-size-11-xl {
    flex: 0 0 18.33333333%;
}
.u-size-19-xl {
    flex: 0 0 31.66666667%;
}
.u-size-15 {
    flex: 0 0 25%;
}
.u-text-palette-1-light-2, a.u-button-style.u-text-palette-1-light-2, a.u-button-style.u-text-palette-1-light-2[class*="u-border-"] {
    color: #adcce9 !important;
}
.u-size-15 {
    flex: 0 0 25%;
}
.u-layout-cell-7 {
    min-height: 149px;
}
.u-container-layout-16 {
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
    padding: 17px 19px 15px;
}
.u-lightbox .u-image, .u-lightbox .u-gallery-item {
    cursor: pointer;
}
.u-image-8 {
    width: 119px;
    height: 39px;
    margin: 31px auto 0;
}
.bolinhas {
    float: right;
    position: absolute;
    right: 10px;
    width: 12%;
}
.come {
    display: none;
}
@media (min-width: 1200px) {
    .u-text-23 {
        text-transform: uppercase;
        font-weight: 700;
        margin: 15px 11px 0 0;
        font-size: 1.6em;
    }
    .u-image-5 {
        width: 119px;
        height: 116px;
        margin: 0 auto 0 20px;
        float: left;
    }
    .u-text-26 {
        font-size: 1rem;
        /* margin: 20px 38px 0; */
        line-height: 1.2;
        font-weight: 700;
        float: left;
        text-align: left;
    }
    .u-text-25 {
        font-weight: 700;
        font-size: 1rem;
        /* margin: 20px 135px 0 23px; */
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-24 {
        font-weight: 700;
        font-size: 1rem;
        /* margin: 0 50px 0; */
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-22 {
        font-size: 1rem;
        font-weight: 400;
        /* margin: 14px 21px 0 32px; */
    }
    .u-text-21 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 0 21px 0 32px; */
    }
    .u-text-20 {
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 700;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: -98px auto 0 35px; */
        left: 30px;
        line-height: 1.1;
        border-top: 5px solid white;
        border-right: 5px solid white;
        border-bottom: 5px solid white;
        padding-right: 40px;
    }
    .u-text-19 {
        font-weight: 700;
        font-size: 1.6rem;
        /* margin: 16px 125px 0 auto; */
    }
    .u-shape-2 {
        width: 142px;
        height: 125px;
        margin: -107px auto 0 0;
    }
    .u-text-18 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.9rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 36px 107px 0 auto; */
        line-height: 1.1;
    }
    .u-group-1 {
        width: 250px;
        min-height: 230px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: -260px 0 0 240px;
    }
    .u-container-layout-2 {
        padding: 40px 20px 20px;
    }
    .u-text-6 {
        text-transform: uppercase;
        margin: 5px auto 0;
        font-weight: 600;
        font-size: 16px;
    }
    .u-btn-2 {
        background-image: none;
        font-size: 1.25rem;
        padding: 0;
    }
    .u-text-7 {
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: 500;
        margin: 10px 0 0;
    }
    .u-text-8 {
        font-style: normal;
        font-size: 0.875rem;
        margin: 12px auto 0 0;
    }
    .u-image-1 {
        width: 300px;
        height: 300px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: 0 auto 0 0;
        object-fit: cover;
    }
    .u-sheet{
        position: relative;
        width: 1140px;
        margin: 0 auto;
    }
    .u-text-1{
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .u-text-2{
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.1;
    }
    .u-text-3 {
        font-style: italic;
        width: 900px;
        margin: 16px auto 0;
        font-size: 1.2rem;
        line-height: 1.3;
    }
    .u-text-4 {
        letter-spacing: 3px;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 700;
        margin: 12px auto 0;
        font-family: "[[setting:secondary_font]]", helvetica, arial, sans-serif;
    }
    .u-text-5{
        font-weight: 700;
        font-size: 2.7rem;
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: 1.1;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .u-text-23 {
        text-transform: uppercase;
        font-weight: 700;
        margin: 15px 11px 0 0;
        font-size: 1.6em;
    }
    .u-image-5 {
        width: 119px;
        height: 116px;
        margin: 0 auto 0 20px;
        float: left;
    }
    .u-text-26 {
        font-size: 1rem;
        /* margin: 20px 26px 0; */
        line-height: 1.2;
        font-weight: 700;
        float: left;
        text-align: left;
    }
    .u-text-25 {
        font-weight: 700;
        font-size: 1rem;
        /* margin: 20px 103px 0 23px; */
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-24 {
        font-weight: 700;
        font-size: 1rem;
        /* margin: 0 37px 0; */
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-22 {
        font-size: 1rem;
        font-weight: 400;
        /* margin: 14px 21px 0 32px; */
    }
    .u-text-21 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 0 21px 0 32px; */
    }
    .u-text-20 {
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 700;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: -100px auto 0 35px; */
        left: 30px;
        line-height: 1.1;
        border-top: 5px solid white;
        border-right: 5px solid white;
        border-bottom: 5px solid white;
        padding-right: 40px;
    }
    .u-text-19 {
        font-weight: 700;
        font-size: 1.875rem;
        /* margin: 16px 95px 0 auto; */
    }
    .u-shape-2 {
        width: 142px;
        height: 125px;
        margin: -107px auto 0 0;
    }
    .u-text-18 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.9rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 36px 100px 0 auto; */
        line-height: 1.1;
    }
    .u-group-1 {
        width: 250px;
        min-height: 230px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: -260px 0 0 190px;
    }
    .u-container-layout-2 {
        padding: 40px 20px 20px;
    }
    .u-text-6 {
        text-transform: uppercase;
        margin: 5px auto 0;
        font-weight: 600;
        font-size: 22px;
    }
    .u-btn-2 {
        background-image: none;
        font-size: 1.25rem;
        padding: 0;
    }
    .u-text-7 {
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: 500;
        margin: 10px 0 0;
    }
    .u-text-8 {
        font-style: normal;
        font-size: 0.875rem;
        margin: 12px auto 0 0;
    }
    .u-image-1 {
        width: 300px;
        height: 300px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: 0 auto 0 0;
        object-fit: cover;
    }
    .u-sheet{
        position: relative;
        width: 1140px;
        margin: 0 auto;
    }
    .u-text-1{
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .u-text-2{
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.1;
    }
    .u-text-3 {
        font-style: italic;
        width: 900px;
        margin: 16px auto 0;
        font-size: 1rem;
        line-height: 1.3;
    }
    .u-text-4 {
        letter-spacing: 3px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        margin: 12px auto 0;
        font-family: "[[setting:secondary_font]]", helvetica, arial, sans-serif;
    }
    .u-text-5{
        font-weight: 700;
        font-size: 2.7rem;
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: 1.1;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .u-text-23 {
        text-transform: uppercase;
        font-weight: 700;
        margin: 15px 11px 0 0;
        font-size: 1.6em;
    }
    .u-image-5 {
        width: 100px;
        height: 97px;
    }
    .u-text-26 {
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 700;
        float: left;
        text-align: left;
    }
    .u-text-25 {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-24 {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-22 {
        font-size: 1rem;
        font-weight: 400;
        /* margin: 14px 21px 0 32px; */
    }
    .u-text-21 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 0 21px 0 32px; */
    }
    .u-text-20 {
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: -123px auto 0 35px; */
        left: 30px;
        line-height: 1.1;
        border-top: 5px solid white;
        border-right: 5px solid white;
        border-bottom: 5px solid white;
        padding-right: 40px;
    }
    .u-text-19 {
        font-weight: 700;
        font-size: 1.3rem;
        /* margin: 16px 25px 36px auto; */
    }
    .u-shape-2 {
        width: 142px;
        height: 125px;
        margin: -107px auto 0 0;
    }
    .u-text-18 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 36px 0 0 auto; */
        line-height: 1.1;
    }
    .u-group-1 {
        width: 230px;
        min-height: 200px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: -225px 0 0 100px;
    }
    .u-container-layout-2 {
        padding: 40px 20px 20px;
    }
    .u-text-6 {
        text-transform: uppercase;
        margin: 5px auto 0;
        font-weight: 600;
        font-size: 15px;
    }
    .u-btn-2 {
        background-image: none;
        font-size: 1.25rem;
        padding: 0;
    }
    .u-text-7 {
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: 500;
        margin: 10px 0 0;
    }
    .u-text-8 {
        font-style: normal;
        font-size: 0.875rem;
        margin: 12px auto 0 0;
    }
    .u-image-1 {
        width: 250px;
        height: 250px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: 0 auto 0 0;
        object-fit: cover;
    }
    .u-sheet{
        position: relative;
        width: 1140px;
        margin: 0 auto;
    }
    .u-text-1{
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .u-text-2{
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.1;
    }
    .u-text-3 {
        font-style: italic;
        margin: 16px auto 0;
        font-size: 1rem;
        line-height: 1.3;
    }
    .u-text-4 {
        letter-spacing: 3px;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        margin: 12px auto 0;
        font-family: "[[setting:secondary_font]]", helvetica, arial, sans-serif;
    }
    .u-text-5{
        font-weight: 700;
        font-size: 2rem;
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: 1.1;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .reAlign {
        top: 30px;
        left: 30px;
    }
    .gone {
        display: none;
    }
    .come {
        display: block;
    }
    .to_right {
        margin: 0 0 0 190px;
    }
    .u-size-15 {
        flex: 0 0 100%;
    }
    .u-text-23 {
        text-transform: uppercase;
        font-weight: 700;
        margin: 30px 11px 0 -80px;
        font-size: 1.6em;
    }
    .u-image-5 {
        width: 119px;
        height: 116px;
        margin: 0 auto 0 20px;
        float: left;
    }
    .u-text-26 {
        font-size: 1rem;
        /* margin: 20px 18px 0; */
        line-height: 1.2;
        font-weight: 700;
        float: left;
        text-align: left;
    }
    .u-text-25 {
        font-weight: 700;
        font-size: 1rem;
        /* margin: 20px 115px 0 23px; */
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-24 {
        font-weight: 700;
        font-size: 1rem;
        /* margin: 0 30px 0; */
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-22 {
        font-size: 1rem;
        font-weight: 400;
        /* margin: 14px 21px 0 32px; */
    }
    .u-text-21 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 30px 21px 0 32px; */
    }
    .u-text-20 {
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 700;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: -98px auto 0 35px; */
        left: 30px;
        line-height: 1.1;
        border-top: 5px solid white;
        border-right: 5px solid white;
        border-bottom: 5px solid white;
        padding-right: 40px;
    }
    .u-text-19 {
        font-weight: 700;
        font-size: 1.6rem;
        /* margin: 16px 118px 0 auto; */
    }
    .u-shape-2 {
        width: 142px;
        height: 125px;
        margin: -107px auto 0 0;
    }
    .u-text-18 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.9rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 36px 100px 0 auto; */
        line-height: 1.1;
    }
    .u-group-1 {
        width: 250px;
        min-height: 230px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: -260px 0 0 170px;
    }
    .u-container-layout-2 {
        padding: 40px 20px 20px;
    }
    .u-text-6 {
        text-transform: uppercase;
        margin: 5px auto 0;
        font-weight: 600;
        font-size: 16px;
    }
    .u-btn-2 {
        background-image: none;
        font-size: 1.25rem;
        padding: 0;
    }
    .u-text-7 {
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: 500;
        margin: 10px 0 0;
    }
    .u-text-8 {
        font-style: normal;
        font-size: 0.875rem;
        margin: 12px auto 0 0;
    }
    .u-image-1 {
        width: 300px;
        height: 300px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: 0 auto 0 0;
        object-fit: cover;
    }
    .u-sheet{
        position: relative;
        width: 1140px;
        margin: 0 auto;
    }
    .u-text-1{
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .u-text-2{
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.1;
    }
    .u-text-3 {
        font-style: italic;
        margin: 16px auto 0;
        font-size: 1.4rem;
        line-height: 1.3;
    }
    .u-text-4 {
        letter-spacing: 3px;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 700;
        margin: 12px auto 0;
        font-family: "[[setting:secondary_font]]", helvetica, arial, sans-serif;
    }
    .u-text-5{
        font-weight: 700;
        font-size: 2.7rem;
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: 1.1;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
    }
}
@media (max-width: 575px) {
    .reAlign {
        top: 30px;
        left: 30px;
    }
    .gone {
        display: none;
    }
    .come {
        display: block;
    }
    .to_right {
        margin: 0 0 0 190px;
    }
    .u-size-15 {
        flex: 0 0 100%;
    }
    .u-text-23 {
        text-transform: uppercase;
        font-weight: 700;
        margin: 30px 11px 0 -80px;
        font-size: 1.6em;
    }
    .u-image-5 {
        width: 119px;
        height: 116px;
        margin: 0 auto 0 20px;
        float: left;
    }
    .u-text-26 {
        font-size: 1rem;
        /* margin: 20px 18px 0; */
        line-height: 1.2;
        font-weight: 700;
        float: left;
        text-align: left;
    }
    .u-text-25 {
        font-weight: 700;
        font-size: 1rem;
        /* margin: 20px 115px 0 23px; */
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-24 {
        font-weight: 700;
        font-size: 1rem;
        /* margin: 0 30px 0; */
        line-height: 1.2;
        float: left;
        text-align: left;
    }
    .u-text-22 {
        font-size: 1rem;
        font-weight: 400;
        /* margin: 14px 21px 0 32px; */
    }
    .u-text-21 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.7rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 30px 21px 0 32px; */
    }
    .u-text-20 {
        text-transform: uppercase;
        font-size: 5rem;
        font-weight: 700;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: -98px auto 0 35px; */
        left: 30px;
        line-height: 1.1;
        border-top: 5px solid white;
        border-right: 5px solid white;
        border-bottom: 5px solid white;
        padding-right: 40px;
    }
    .u-text-19 {
        font-weight: 700;
        font-size: 1.6rem;
        /* margin: 16px 118px 0 auto; */
    }
    .u-shape-2 {
        width: 142px;
        height: 125px;
        margin: -107px auto 0 0;
    }
    .u-text-18 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.9rem;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        /* margin: 36px 100px 0 auto; */
        line-height: 1.1;
    }
    .u-group-1 {
        width: 250px;
        min-height: 230px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: -260px 0 0 240px;
    }
    .u-container-layout-2 {
        padding: 40px 20px 20px;
    }
    .u-text-6 {
        text-transform: uppercase;
        margin: 5px auto 0;
        font-weight: 600;
        font-size: 16px;
    }
    .u-btn-2 {
        background-image: none;
        font-size: 1.25rem;
        padding: 0;
    }
    .u-text-7 {
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: 500;
        margin: 10px 0 0;
    }
    .u-text-8 {
        font-style: normal;
        font-size: 0.875rem;
        margin: 12px auto 0 0;
    }
    .u-image-1 {
        width: 300px;
        height: 300px;
        box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%);
        margin: 0 auto 0 0;
        object-fit: cover;
    }
    .u-sheet{
        position: relative;
        width: 1140px;
        margin: 0 auto;
    }
    .u-text-1{
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .u-text-2{
        font-weight: 400;
        font-size: 2rem;
        line-height: 1.1;
    }
    .u-text-3 {
        font-style: italic;
        margin: 16px auto 0;
        font-size: 1.4rem;
        line-height: 1.3;
    }
    .u-text-4 {
        letter-spacing: 3px;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 700;
        margin: 12px auto 0;
        font-family: "'[[setting:secondary_font]]'",'Open Sans', sans-serif;
    }
    .u-text-5{
        font-weight: 700;
        font-size: 2.7rem;
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: 1.1;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 40%);
    }
}