<link rel="stylesheet" href="/blocks/eva_cards_post_internship/internship.css">
<div class="container-fluid pl0 pr0">
    <div class="container">
        <img data-ccn="image" data-ccn-img="src" class="img-fluid section_img" src="{{imgs}}">
        <div class="row justify-content-start">
            <div class="row section_nav">
                <div class="col-sm-12 col-lg-4 ">
                    <div id="our-courses" data-ccn-c="color_bg" data-ccn-cv="{{{color_bg}}}">
                        {{#cards}}
                        <style type="text/css">
                            .icon_hvr_img_box.ccn_e[data-ccn-c=color {
                                {
                                    id
                                }
                            }
                            
                            ]:hover {
                                background-color: {
                                    {
                                        color_hover
                                    }
                                }
                                !important;
                            }
                            
                            .icon_hvr_img_box.ccn_e[data-ccn-c=color {
                                {
                                    id
                                }
                            }
                            
                            ]:hover h5 {
                                color: {
                                    {
                                        title_color_hover
                                    }
                                }
                                !important;
                            }
                            
                            .icon_hvr_img_box.ccn_e[data-ccn-c=color {
                                {
                                    id
                                }
                            }
                            
                            ]:hover p {
                                color: {
                                    {
                                        body_color_hover
                                    }
                                }
                                !important;
                            }
                            
                            .icon_hvr_img_box.ccn_e[data-ccn-c=color {
                                {
                                    id
                                }
                            }
                            
                            ]:hover .icon span {
                                color: {
                                    {
                                        icon_color_hover
                                    }
                                }
                                !important;
                            }
                        </style>
                        <div class="col-sm-12 col-md-6 col-lg-6 marge_left">
                            <a href="{{link}}" target="{{{link_target}}}">
                                <div class="overlay">
                                    <div class="icon_hvr_img_box ccn-box ccn_e" data-ccn-c="color{{id}}" data-ccn-co="bg" style="background-color:{{{color}}}">
                                        <div class="ccn_icon_2 icon" style="padding: 20px 0px 0px 0px !important;">
                                            <span data-ccn="icon{{id}}" data-ccn-c="color_icon{{id}}" data-ccn-co="content" class="icon_bg {{{icon}}}" style="color:{{{icon_color}}}"></span>
                                        </div>
                                        <div class="details" style="padding: 20px 20px !important;">
                                            <h5 data-ccn="title{{id}}" data-ccn-c="color_title{{id}}" data-ccn-co="content" style="color:{{{title_color}}}">{{card_titulo}}</h5>
                                            <p align="justify" data-ccn="body{{id}}" data-ccn-c="color_body{{id}}" data-ccn-co="content" style="color:{{{body_color}}}; text-align: center;">{{card_body}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{/cards}}
                    </div>
                </div>
                <div class="col-lg-8 ">
                    <div class="about_content card_info">
                        <h3 data-ccn="title">{{title}}</h3>
                        <div data-ccn="body">{{{body}}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>