{{#footer_1}}
{{> theme_evagu/ccn_footer_default }}
{{/footer_1}}
{{#back_to_top}}
<a class="scrollToHome" href="#"><i class="flaticon-up-arrow-1"></i></a>
{{/back_to_top}}
{{#gmaps_key}}
<script src="//maps.googleapis.com/maps/api/js?key={{gmaps_key}}"></script>
{{/gmaps_key}}
{{{custom_js}}}
{{{ output.standard_end_of_body_html }}}
