<link rel="stylesheet" href="/blocks/eva_cards_database/cards.css">
<div class="container-fluid pl0 pr0 cor_fundo">
    <div class="container conteiner-cards">
        <div class="row" style="text-align: -webkit-center;">
            {{#cards}}
            <style type="text/css">
                .icon_hvr_img_box.ccn_e[data-ccn-c=color{{id}}]:hover {
                    background-color:{{color_hover}}!important;
                }
                .icon_hvr_img_box.ccn_e[data-ccn-c=color{{id}}]:hover h5 {
                    color:{{title_color_hover}}!important;
                }
                .icon_hvr_img_box.ccn_e[data-ccn-c=color{{id}}]:hover p {
                    color:{{body_color_hover}}!important;
                }
                .icon_hvr_img_box.ccn_e[data-ccn-c=color{{id}}]:hover .icon span {
                    color:{{icon_color_hover}}!important;
                }
            </style>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div id="our-courses" data-ccn-c="color_bg" data-ccn-cv="{{{color_bg}}}">
                    <a href="{{link}}" target="{{{link_target}}}">
                        <div class="icon_hvr_img_box ccn-box ccn_e" data-ccn-c="color{{id}}" data-ccn-co="bg">
                            <div class="overlay">
                                <div class="ccn_icon_2 icon">
                                    <span data-ccn="icon{{id}}" data-ccn-c="color_icon{{id}}" data-ccn-co="content" class="{{{icon}}}" style="color:{{{icon_color}}}"></span>
                                </div>
                                <div class="details">
                                    <h5 data-ccn="title{{id}}" data-ccn-c="color_title{{id}}" data-ccn-co="content" style="color:{{{title_color}}}; margin-bottom: 0px;">{{card_titulo}}</h5>
                                    <p align="justify" data-ccn="body{{id}}" data-ccn-c="color_body{{id}}" data-ccn-co="content"
                                       style="color:{{{body_color}}}; text-align: center; line-height: 1.6rem;">{{card_body}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {{/cards}}
        </div>
    </div>
</div>
