.title {
    display: none;
}

.blog_tag_widget {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (min-width: 320px) {
    .config_img {
        margin-top: 5px;
        margin-left: 5px;
    }
    .section_img {
        padding: 20px 0px;
    }
    .section_nav {
        padding: 0px 0px;
    }

}


.cor_fundo {
    background-color: rgb(245, 245, 246);
    padding: 0px;
}


@media (min-width: 992px) {
    .fundo_img {
        position: absolute;
        top: 8px;
        width: 45%;
        height: 98%;
        /*background-color: rgb(189, 203, 212);*/
    }
    figure img {
        margin-left: 90px;
    }
    .section_nav {
        position: absolute;
        z-index: 1;
        width: 1200px;
        height: 88%;
        align-content: center;
    }
    .section_img {
        position: relative;
        z-index: 1;
        padding: 60px 0px;
        padding-left: 85px;
        width: 65%;
        height: 700px;
    }

    .margin {
        margin-right: 10%;
    }
    .cor_fundo {
        padding: 40px 0px;
    }

    .icon_hvr_img_box.ccn_s {
        text-align: center;
        padding: 66px 15px;
        height: 93%;
        width: 105%;
    }

}

.icon_bg{
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(189, 203, 212);
    /*margin-bottom: 20px;*/
}







