.title {
    display: none;
}
.form-input {
    display: block;
    width: 100%;
    /*height: calc(1.5em + 0.75rem + 2px);*/
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    /*background-clip: padding-box;*/
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #2a2a2a;
}
.form-input:focus {
    box-shadow: none;
    border-bottom: 2px solid;
}
.bg-block {
    background-color: rgb(245, 245, 246);
    margin-bottom: 50px;
    /*height: 500px;*/
}
.shadow_contact {
    box-shadow: 8px 12px 40px #808080c4;
}
@media (min-width: 320px) {
    .img_contact {
        /*position: relative;*/
        /*z-index: 1;*/
        /*margin-top: 35px;*/
        width: 550px;
        height: 300px;
        margin-bottom: 15px;
    }
    .contact_pg {
        padding: 20px;
    }
}
@media (min-width: 992px) {
    .img_contact {
        position: relative;
        z-index: 1;
        margin-top: 35px;
        width: 630px;
        height: 630px;
    }
    .form_contact {
        margin-left: 27%;
    }
    .contact_pg {
        padding-left: 27%;
        padding-top: 40px;
        padding-bottom: 75px;
        padding-right: 6%;
    }
    .bg-block {
        padding: 45px 0px;
        margin-bottom: 50px;
    }
    .card_contato {
        position: absolute;
        z-index: 0;
        top: 60px;
    }
    .posicion {
        position: absolute;
        bottom: 40px;
        /*margin-right: 100px;*/
    }
}
.cards {
    position: relative;
    /*width: 30%;*/
    z-index: 1;
}
.contact_cards {
    position: relative;
    margin-bottom: 80px;
    text-align: center;
    background-color: #65758a;
    padding: 20px 10px;
    min-height: 140px;
    max-height: 140px;
}
.contact_cards h4 {
    font-size: 22px;
    font-family: '[[setting:primary_font]]', helvetica, arial, sans-serif;
    font-weight: 600;
    color: #ececec;
    line-height: 1.2;
    text-align: left;
}
.contact_cards p {
    font-size: 15px;
    font-family: '[[setting:primary_font]]', helvetica, arial, sans-serif;
    color: rgb(215, 215, 215);
    margin-bottom: 20px;
    white-space: pre-line;
    text-align: left;
}
.contact_cards .icon {
    color: #cbcbcb;
    font-size: 30px;
    margin-left: 58px;
}