<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
<link rel="stylesheet" type="text/css" href="/blocks/eva_permission_barema/templates/users/permission.css">

<h2>Permissão de acesso aos Baremas</h2>

<form action="/blocks/eva_permission_barema/users/add.php" method="get" class="select-validation" novalidate>
   <div class="container-selecao">
      <select name="user_id" id="id_user" class="custom-select s-select" style="width: 92%" data-fieldtype="select" required>
         <option value=""></option>
         {{#users}}
               <option value="{{valor}}" {{selected}}>{{selecao}}</option>
         {{/users}}
      </select>
      <button type="submit" class="btn btn-primary btn-thm btnEvent" id="id_per">Adicionar</button>
   </div>
   <div class="invalid-feedback">- O Campo usuário está vazio.</div>
</form>

<form action="/blocks/eva_permission_barema/users/update.php" method="post">
   <table class="table t-table text-center table-responsive">

      <thead class="t-head">
         <tr>
            <th class="text-left">Nome</th>
            <th>Pós-Graduação</th>
            <th>Bolsa</th>
            <th>Afastamento</th>
            <th {{hiden}}>Admin</th>
            <th>Ações</th>
         </tr>
      </thead>
      <tbody class="t-body">
      {{#permissoes}}
         <tr>
            <td class="w-100 text-left" {{disable}}>{{name}}</td>
            <td><input type="checkbox" name="{{id}}[posgraduacao]" {{pos}} {{disable}}></td>
            <td><input type="checkbox" name="{{id}}[bolsa]" {{bolsa}} {{disable}}></td>
            <td><input type="checkbox" name="{{id}}[afastamento]" {{afastamento}} {{disable}}></td>
            <td {{hidden}}><input type="checkbox" name="{{id}}[admin]" {{admin}} {{disable}}></td>
            <td hidden><input type="checkbox" name="{{id}}[status]" {{flag}} {{disable}}></td>
            <td>
            {{! <i class="icon fa fa-eye fa-fw " title="suspend avaliador" role="img" aria-label="suspend Avaliador"></i> }}
            {{! <i class="icon fa fa-eye-slash fa-fw " title="unsupend avaliador" role="img" aria-label="unsupend Avaliador"></i> }}
               <a href="/blocks/eva_permission_barema/users/update.php?id={{id}}&status={{status}}"><i class="icon fa fa-eye{{icon_eye}} fa-fw " title="{{situation}}" role="img" aria-label="{{situation}}"></i></a>
               <a {{hidden}} href="#" class="modallogs" data-toggle="modal" data-id={{id}} data-target="#logModal"><i class="icon fa ccn-flaticon-document fa-fw " title="logs" aria-hidden="true"></i></a>
               <a {{hidden}} data-toggle="modal" data-target="#confirmaModal" href="#" class="confModal" data-userid={{id}}><i class="icon fa ccn-flaticon-trash fa-fw " title="Delete" role="img" aria-label="Delete"></i></a>
            </td>
         </tr>
      {{/permissoes}}
      </tbody>
   </table>
   <button type="submit" class="btn btn-primary btn-thm btnEvent">Salvar</button>
</form>
{{> block_eva_permission_barema/users/logs}}
{{> block_eva_permission_barema/users/modalConfirma}}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/blocks/eva_permission_barema/js/logs.js" ></script>
<script type="text/javascript" src="/blocks/eva_permission_barema/js/confirma.js" ></script>
<script>

    $(".s-select").select2({
      placeholder: 'Escolha um Usuario',
      width: 'resolve'
    });
   setTimeout(function (){
      $(".notifications .alert").fadeOut("slow", function () {
            $(this).alert('close');
      });
   }, 5000);

   const forms = document.querySelectorAll('.select-validation')

   // Loop over them and prevent submission
   Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
         if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            $(".invalid-feedback").css("display", "block");
         }
         form.classList.add('was-validated')
      }, false)
   });

</script>
