<style>
   .main-modal .d-modal .c-modal {
        border-radius: 10px;
        padding: 0px;
        width: 45%;
        margin: 13% auto;
    }
   .main-modal .d-modal .c-modal .h-modal{
        padding: 15px;
    }

</style>   
   
   
   <div class="modal main-modal fade" id="logModal" tabindex="-1" aria-labelledby="logModalLabel" aria-hidden="true">
      <div class="modal-dialog d-modal">
         <div class="modal-content c-modal">
            <div class="modal-header h-modal">
               <h5 class="modal-title" id="exampleModalLabel">Histórico</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-body">
               <label>logs</label>
               <hr style="margin-top: 0px;">
               <ul style="list-style: disc; padding-left: 18px;" class="lista">

               </ul>
            </div>
            {{! <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div> }}
         </div>
      </div>
   </div>
