<style>


.preview_modal .modal-dialog .modal-content{
    border-radius: 5px;
    padding: 0px;
    width: 50%;
    margin: 13% auto;
}
.preview_modal .modal-dialog .modal-content .modal-header{
    padding: 15px;
}

.preview_modal .modal-body .field-main fieldset:nth-child(1), 
.preview_modal .modal-body .field-main fieldset:nth-child(2), 
.preview_modal .modal-body .field-main fieldset:nth-child(3) 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.preview_modal .modal-body fieldset div {
    border: 1px solid #cbcbcb;
    width: 100%;
    padding: 5px;
}
.preview_modal .modal-body fieldset .div1 {
    display: flex;
    flex-shrink: 2;
}
</style>


<div class="preview_modal modal fade" id="previewAtribuicao" tabindex="-1" aria-labelledby="previewAtribuicaoLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewAtribuicaoLabel">Preview do anteprojeto</h5>
                <button type="button" class="btn-close modalClose" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="field-main">
                    <fieldset>
                        <div class="div1">Anteprojeto</div>
                        <div class="div2" id="atp">123-2024</div>
                    </fieldset>
                    <fieldset>
                        <div class="div1">Programa</div>
                        <div class="div2" id="prog">Pos graduação</div>
                    </fieldset>
                    <fieldset>
                        <div class="div1">Pesquisa</div>
                        <div class="div2" id="prog">Teste de pesquisa</div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>