<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Avaliação</title>
    <style>
        body {
            font-size: 14px;
        }
        .table, th, td{
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
            text-align: center;

            /*margin-bottom: 1rem;*/
            /*background-color: transparent;*/
        }
        .table th {
            padding: .3rem;
        }
        .table td {
            padding: .2rem;
        }
        .table thead {
            background-color: rgba(197, 197, 197, 0.38);
        }

        .title {
            width: 100%;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="title">
    Escola da Advocacia-Geral da União Ministro Victor Nunes Leal
    <p>Edital de Afastamentos</p>
</div>
<p>

</p>
<div><sapn>Total de {{registros}} registros</sapn></div>
<table class="table">
    <tr>
        <th colspan="7" class="">&nbsp;
            Espelho Geral dos Baremas de Avaliação de Anteprojetos dos Candidatos
        </th>
    </tr>
    <thead class="">
        <tr>
            <th style="width: 20px">#</th>
            <th>Anteprojeto</th>
            <th>Avaliador 1</th>
            <th>Avaliador 2</th>
            <th>Avaliador 3</th>
            <th>Nota Capes</th>
            <th>Pontuação</th>
        </tr>
    </thead>
    <tbody>
    {{#dadosAvaliacao}}
        <tr>
            <td>{{id}}</td>
            <td>{{anteprojeto}}</td>
            <td>{{avaliador_1}}</td>
            <td>{{avaliador_2}}</td>
            <td>{{avaliador_3}}</td>
            <td>{{nota_capes}}</td>
            <td>{{nota_final}}</td>
        </tr>
    {{/dadosAvaliacao}}
    </tbody>
</table>
</body>
</html>



