<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"
      xmlns="http://www.w3.org/1999/html"/>
<!--<meta name="" content="width=device-width">-->

<style>
    /*.card {*/
    /*    border: 1px solid rgba(0,0,0,.125);;*/
    /*}*/

    @media (min-width: 320px) {
        .breadcrumb_widgets {
            margin-top: 12px;
        }
        .ccnDashBlCt {
            padding: 0px 10px!important;
        }
        section {
            padding: 10px 0!important;
        }
        /*.select2-container {*/
        /*    width: 150%!important;*/
        /*    position: relative;*/
        /*}*/
        .col-xs-12, .col-sm-12, .col-lg-12 {
            padding-right: 0px!important;
            padding-left: 0px!important;
        }
        .form-busca .col-md-3, .col-md-9 {
            padding-left: 0px!important;
        }
        .form-group {
            width: 100%;
        }
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 15px;
        }

        .select2-container .select2-selection--single {
            height: 38px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
        }
        label {
            margin-bottom: 0px!important;
        }
    }

    @media (min-width: 401px) {
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 5px;
        }
    }

    @media (min-width: 768px) {
        .breadcrumb_widgets {
            margin-top: 14px;
        }
        .ccnDashBlCt {
            padding: 0px 10px!important;
        }
        section {
            padding: 10px 0!important;
        }
        /*.select2-container {*/
        /*    width: 100%!important;*/
        /*    position: relative;*/
        /*}*/
        .col-xs-12, .col-sm-12, .col-lg-12 {
            padding-right: 5px!important;
            padding-left: 5px!important;
        }
        .form-busca .col-md-3, .col-md-9 {
            padding-left: 5px!important;
            max-width: 100%;
        }
        .form-group {
            width: 50%;
        }
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 4px;
        }

        .select2-container .select2-selection--single {
            height: 38px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
        }
        label {
            margin-bottom: 0px!important;
        }
    }

    @media (min-width: 993px) {
        .breadcrumb_widgets {
            margin-top: 24px;
        }
    }

    @media (min-width: 1200px) {
        .ccnDashBlCt {
            padding: 20px 30px!important;
        }
        section {
            padding: 10px 0!important;
        }

        .col-xs-12, .col-sm-12, .col-lg-12 {
            padding-right: 0px!important;
            padding-left: 0px!important;
        }
        .form-busca .col-md-3, .col-md-9 {
            padding-left: 0px!important;
        }

        .form-group {
            width: 15%;
        }
        .dashboard_main_content .breadcrumb_widgets .title {
            margin-top: 4px;
        }

        .select2-container .select2-selection--single {
            height: 38px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 38px;
        }
        label {
            margin-bottom: 0px!important;
        }
    }
    .table td, .table th {
        padding: .40rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        vertical-align: middle;
    }

    .dashboard_main_content .btn:not(.btn-link) {
        color: #fff!Important;
        line-height: 1;
        padding: 8px 8px;
        margin-right: 5px;
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        background-color: #0c3551;
    }



    .tableprimary {
        background: #0c3551;
        color: white;
    }
    .tableprimary:hover {
        background: #0c3551;
    }
    .dashboard_main_content .btn-primary, .modal:not(.sign_up_modal) .btn-primary, .btn-primary {
        padding: 12px 16px;
        background-color: [[setting:color_primary]];
        border: 1px solid #01101f;
        color: #fff;

    }
    .btn-thm:hover {
        color: #0c3551!important;
    }
    .dashboard_main_content .btn:not(.btn-link) {
        color: #fff!Important;
        line-height: 1;
        padding: 10px 16px;
        margin-right: 5px;
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        background-color: #0c3551;
    }

</style>

<div class="section ml15">
    <div class="row">
        <div class="col-lg-12">
            <a class="btn-primary btn-thm btnAdicionarModal"
               href="/blocks/eva_barema_afastamento/avaliacao.php?admin={{iduser}}"><i class="icon fa ccn-flaticon-back fa-fw"></i>Voltar</a>
        </div>
    </div>
</div>
<br>
<!--<section class="section_busca my-3 col-lg-12">-->
<section class="section">
    <form method="get" class="form-busca">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="select2-id_anteprojeto-container">Anteprojeto</label>
                    </div>
                    <div class="col-md-9 r_col">
                        <select name="anteprojeto" id="id_anteprojeto" class="custom-select" style="width: 100%">
                            <option value=""></option>
                            {{#anteprojetos}}
                                <option value="{{valor}}" {{selected}}>{{selecao}}</option>
                            {{/anteprojetos}}
                        </select>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-3">
                    <div class="col-md-12">
                        <button type="submit" class="btn" name="listar" data-toggle="tooltip" data-placement="top" title="Buscar">
                            <i class="flaticon-magnifying-glass" id="yui_3_17_2_1_1647205690370_21" style="font-weight: 600;font-size: 15px;"></i>
                        </button>
                        <a data-toggle="tooltip" data-placement="top" title="Limpar o campo do Filtro" href="{{{ config.wwwroot }}}/blocks/eva_barema_afastamento/avaliacao_lista.php" class="btn">
                            <i class="flaticon-delete-button" id="yui_3_17_2_1_1647205690370_21" style="font-weight: 400;font-size: 15px;"></i> Limpar Filtro
                        </a>
                        <button type="submit" name="relatorio" class="btn" href="#" data-toggle="tooltip" data-placement="top" title="Imprimir Relatório em PDF"
                            onclick="open('avaliacao_lista.php{{filters}}&avaliacao=pdf','','status=no, Width=1200, Height=800');">
                            <i class="ccn-flaticon-document" style="font-weight: 400;font-size: 15px;"></i> PDF
                        </button>
                        <a class="btn {{hidden}}" data-toggle="tooltip" data-placement="top" title="Imprimir Relatório em Excel" href="{{{ config.wwwroot }}}/blocks/eva_barema_afastamento/avaliacao_lista.php{{filters}}&avaliacao=xls">
                            <i class="ccn-flaticon-document" style="font-weight: 400;font-size: 15px;"></i>Excel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<table class="table table-responsive-md table-hover text-left">
    <thead class="tableprimary">
    <tr class="text-center">
        <th style="width: 35px">#</th>
        <th>Anteprojeto</th>
        <th>Avaliador 1</th>
        <th>Avaliador 2</th>
        <th>Avaliador 3</th>
        <th>Nota Capes</th>
        <th>Nota Final</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    {{#dadosAvaliacao}}
        <tr class="text-center" style="font-size: 15px;">
            <td>{{id}}</td>
            <td>{{anteprojeto}}</td>
            <td>{{avaliador_1}}</td>
            <td>{{avaliador_2}}</td>
            <td>{{avaliador_3}}</td>
            <td>{{nota_capes}}</td>
            <td>{{nota_final}}</td>
            <td>
                <a class="" data-toggle="tooltip" data-placement="top" title="Espelho da Avaliação" href="" onclick="open('avaliacao_lista.php?anteprojeto=espelho&id={{anteprojeto}}','','status=no, Width=1000, Height=800');">
                <i class="flaticon-preview" style="font-weight: 600;font-size: 18px;"></i>
                </a>
            </td>
        </tr>
    {{/dadosAvaliacao}}
    </tbody>
    <tfoot class="bg-gray text-right pr20">
    <tr><td colspan="8"><sapn>Total de {{registros}} registros</sapn></td></tr>
    </tfoot>
</table>
<nav aria-label="paginacao">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="{{primeiro}}" aria-label="Previous">
            <span aria-hidden="true">Primeiro</span>
        </a>
        </li>
        <!--    =============== AQUI INCLUI DUAS PAGINAS A- ANTES DO ATUAL =================-->
        {{#links_ant}}
            <li class="page-item {{select}}">
                <a href="{{href_ant}}" class="page-link">{{pg_ant}}</a>
            </li>
        {{/links_ant}}

        <!--    =============== AQUI É A PAGINA ATUAL=================-->
        {{#links_atual}}
            <li class="page-item {{select}}">
                <a class="page-link">{{pg_atual}}</a>
            </li>
        {{/links_atual}}

        <!--    =============== AQUI INCLUI DUAS PAGINAS A+ DEPOIS DO ATUAL =================-->
        {{#links_dep}}
            <li class="page-item {{select}}">
                <a href="{{href_dep}}" class="page-link">{{pg_dep}}</a>
            </li>
        {{/links_dep}}
        <!--   ============== AQUI INCLUI OS PONTOS E A ULTIMA PG DEPOIS NO FINAL ============-->
        {{#links_ultimo}}
            <li class="page-item {{select}}">
                <a href="#" class="page-link">{{pontos}}</a>
            </li>
            <li class="page-item {{select}}">
                <a href="{{href_ultimo}}" class="page-link">{{ultima_pg}}</a>
            </li>
        {{/links_ultimo}}
        <li class="page-item">
            <a class="page-link" href="{{ultima}}" aria-label="Next">
                <span aria-hidden="true">Última</span>
            </a>
        </li>
    </ul>
</nav>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

    $(".custom-select").select2({
        placeholder: 'Buscar',
        width: 'resolve'
    });

    $('.ccnDashBlHd ').addClass('hidden');
</script>



