<!--<style>-->
<!--    .m_area {-->
<!--        color: #000;-->
<!--        background-color: #d1e9ff4d;-->
<!--        padding: 15px 13px;-->
<!--        border-top: 0px solid #aac3e84f;-->
<!--    }-->
<!--</style>-->


<div class="anteproject_modal modal fade" id="modalanteproject" tabindex="-1" aria-labelledby="modalanteprojectLabel" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalanteprojectLabel">ANTEPROJETO</h5>
                <button type="button" class="btn-close modalClose" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m_body">

                <!--                <form autocomplete="off" action="{{{ config.wwwroot }}}/blocks/eva_barema_afastamento/create.php?id={{id}}" method="post">-->
                <form method="post" enctype="multipart/form-data" id="form_file" >
                    <input type="hidden" id="wwwroot" value="{{{ config.wwwroot }}}">
                    <div class="fcontainer clearfix m_area">
                        <div id="bitem_id_anteprojeto" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                <label class="d-inline word-break " for="anteprojeto">Anteprojeto</label>
                                <div class="form-label-addon d-flex align-items-center align-self-start">
                                    <div class="text-danger" title="Necessários">
                                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Obrigatório" aria-label="Necessários"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 form-inline align-items-start felement">
                                <input type="text" id="anteprojeto" class="form-control anteprojeto" name="anteprojeto" required>
                                <div id="invalid_anteprojeto" class="form-control-feedback invalid-feedback"></div>
                            </div>
                        </div>


                        <div id="bitem_id_programa" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                <label class="d-inline word-break " for="programa">Programa</label>
                                <div class="form-label-addon d-flex align-items-center align-self-start">
                                    <div class="text-danger" title="Necessários">
                                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Obrigatório" aria-label="Necessários"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 form-inline align-items-start felement">
                                <select name="programa" id="programa" class="form-select " aria-label=".form-select">
                                    <option value="">--Selecione--</option>
                                    <option value="Doutorado">Doutorado</option>
                                    <option value="Mestrado">Mestrado</option>
                                    <option value="llm">LL.M.</option>
                                    <option value="pos-graduacao lato sensu">Pós-graduação Lato Sensu</option>
                                </select>
                                <div class="form-control-feedback invalid-feedback"> - O Campo programa esta vazio.</div>
                            </div>
                        </div>


                        <div id="bitem_id_pesquisa" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                <label class="d-inline word-break " for="pesquisa">Nome da Pesquisa</label>
                                <div class="form-label-addon d-flex align-items-center align-self-start">
                                    <div class="text-danger" title="Necessários">
                                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Obrigatório" aria-label="Necessários"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 form-inline align-items-start felement">
                                <textarea type="text" class="form-control" id="pesquisa" name="pesquisa" rows="3" cols="100"></textarea>
                                <div class="form-control-feedback invalid-feedback"> - O Campo pesquisa esta vazio.</div>
                            </div>
                        </div>

                        <div class="p-2 mb-3 bg-secondary text-white text-center">Articulação com área prioritária para treinamento da AGU
                            <div class="form-control-static">
                                As áreas prioritárias indicadas pela PGFN e pela PGBC estão representadas por letras.
                            </div>
                        </div>

                        <!--              ========= Area Prioritaria Jurico ===================================-->

                        <div id="bitem_id_eixojuridico" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                <label class="d-inline word-break ">Eixo Jurídico</label>
                                <div class="form-label-addon d-flex align-items-center align-self-start">
                                    <div class="text-danger" title="Necessários">
                                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Obrigatório" aria-label="Necessários"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 form-inline align-items-start felement">
                                <div class="boxe">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="0" id="ch_0" name="cap_eixo_juridico" {{checked1}}>
                                        <label class="form-check-label fontSize2" for="ch_0">Não aplicável</label>
                                    </div>
                                    {{#chekejuridico}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{numero}}" id="ch_{{id}}" name="cap_eixo_juridico" {{checked1}}>
                                            <label class="form-check-label fontSize2" for="ch_{{id}}">{{numero}}. {{articulacaojuridica}}</label>
                                        </div>
                                    {{/chekejuridico}}
                                </div>
                                <input type="hidden" class="form-control juridico">
                                <div class="form-control-feedback invalid-feedback">- Marque pelo menos um campo</div>
                            </div>
                        </div>

                        <!--              ========= Area Prioritaria  Tecnico Jurico=========================================-->

                        <div id="bitem_id_eixojuridico" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                <label class="d-inline word-break ">Eixo Gestão Técnico Jurídico</label>
                                <div class="form-label-addon d-flex align-items-center align-self-start">
                                    <div class="text-danger" title="Necessários">
                                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Obrigatório" aria-label="Necessários"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 form-inline align-items-start felement">
                                <div class="boxe">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="0" id="che_0" name="cap_tecnico_juridico" {{checked2}}>
                                        <label class="form-check-label fontSize2" for="che_0">Não aplicável</label>
                                    </div>
                                    {{#chekegestao}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{numero}}" id="ch_{{id}}" name="cap_tecnico_juridico" {{checked2}}>
                                            <label class="form-check-label fontSize2" for="ch_{{id}}">{{numero}}. {{articulacaotecnica}}</label>
                                        </div>
                                    {{/chekegestao}}
                                </div>
                                <input type="hidden" class="form-control tec_juridico">
                                <div class="form-control-feedback invalid-feedback">- Marque pelo menos um campo</div>
                            </div>
                        </div>


                        <!--                ========= Distribuição =========================================-->

                        <div id="bitem_id_eixojuridico" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                <label class="d-inline word-break ">Distribuição</label>
                                <div class="form-label-addon d-flex align-items-center align-self-start">
                                    <div class="text-danger" title="Necessários">
                                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Obrigatório" aria-label="Necessários"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 form-inline align-items-start felement">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="j" id="juridico" name="distribuicao" {{checked2}}>
                                    <label class="form-check-label fontSize2" for="juridico">Jurídico</label>
                                </div>
                                <input type="hidden" class="form-control distribuicao">
                                <div class="form-control-feedback invalid-feedback">- Escolha uma distribuição</div>
                            </div>
                            <div class="col-md-3 form-inline align-items-start felement">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="g" id="tecnico" name="distribuicao" {{checked2}}>
                                    <label class="form-check-label fontSize2" for="tecnico">Gestão</label>
                                </div>
                            </div>
                        </div>

                        <!--                ========= File Anteprojeto =========================================-->
                        <div id="bitem_id_file" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                <label for="formFile" class="form-label">Anteprojeto</label>
                                <div class="form-label-addon d-flex align-items-center align-self-start">
                                    <div class="text-danger" title="Necessários">
                                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Obrigatório" aria-label="Necessários"></i>
                                    </div>
                                </div>
                            </div>
                            <!--                        <div class="col-md-9 form-inline align-items-start felement">-->
                            <!--                            <input name="fileanteprojeto" class="form-control-md fc-file is-invalid fileanteprojeto" type="file" id="formFile">-->
                            <!--                            <div id="invalid_file" class="form-control-feedback invalid-feedback"></div>-->
                            <!--                            <div class="alert alert-primary al-msg d-none" id="id_alert" role="alert"></div>-->
                            <!--                            <div class="alert alert-danger al-msg d-none" id="id_alert_w" role="alert"></div>-->
                            <!--                        </div>-->
                            <div class="col-md-9 form-inline align-items-start felement">
                                <select name="fileanteprojeto" id="nomeArquivo" class="form-select " aria-label=".form-select">
                                    <option value="">--Selecione--</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_302-e.pdf">Anteprojeto_302</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_304-e.pdf">Anteprojeto_304</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_305-e.pdf">Anteprojeto_305</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_313-e.pdf">Anteprojeto_313</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_314-e.pdf">Anteprojeto_314</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_315-e.pdf">Anteprojeto_315</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_316-e.pdf">Anteprojeto_316</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_318-e.pdf">Anteprojeto_318</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_320-e.pdf">Anteprojeto_320</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_322-e.pdf">Anteprojeto_322</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_323-e.pdf">Anteprojeto_323</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_325-e.pdf">Anteprojeto_325</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_326-e.pdf">Anteprojeto_326</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_328-e.pdf">Anteprojeto_328</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_330-e.pdf">Anteprojeto_330</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_333-e.pdf">Anteprojeto_333</option>
                                    <option value="doc_anteprojetos_pdf/Anteprojeto_335-e.pdf">Anteprojeto_335</option>
                                    <option value="doc_anteprojetos_pdf/Exposicao_310-e.pdf">Exposicao_310</option>
                                    <option value="doc_anteprojetos_pdf/Exposicao_321-e.pdf">Exposicao_321</option>
                                    <option value="doc_anteprojetos_pdf/Exposicao_324-e.pdf">Exposicao_324</option>
                                    <option value="doc_anteprojetos_pdf/Exposicao_334-e.pdf">Exposicao_334</option>
                                    <option value="doc_anteprojetos_pdf/Exposicao_336-e.pdf">Exposicao_336</option>
                                    <option value="doc_anteprojetos_pdf/Exposicao_337-e.pdf">Exposicao_337</option>
                                </select>
                                <div class="form-control-feedback invalid-feedback"> - O Campo Nome do Arquivo esta vazio.</div>
                            </div>
                        </div>

                        <div id="bitem_id_notacapes" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0">
                                <label class="d-inline word-break " for="notacapes">Nota Capes </label>
                                <div class="form-label-addon d-flex align-items-center align-self-start">
                                    <div class="text-danger" title="Necessários">
                                        <i class="icon fa ccn-flaticon-warning text-danger fa-fw " title="Obrigatório" aria-label="Necessários"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 form-inline align-items-start felement">
                                <input type="text" id="id_notacapes" class="form-control notacapes" name="notacapes" required maxlength="4"><span style="align-self: center; font-weight: 500">&nbsp; Pontos</span>
                                <div id="invalid_notacapes" class="form-control-feedback invalid-feedback">- Nota Capes esta vazio</div>
                            </div>
                        </div>
                        <div id="bitem_id_notacapes" class="form-group row bitem">
                            <div class="col-md-3 col-form-label d-flex pb-0 pr-md-0"></div>
                            <div class="col-md-9 form-inline align-items-start felement">
                                <div class="spiner_msg w100"></div>
                                <div class="alert alert-danger al-msg d-none" id="id_alert_w" role="alert"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer eventButton">
                        <!--                    <button type="button" id="btnfechar" class="btn btn-secondary modalFechar" data-dismiss="modal">Fechar</button>-->

                        <button type="button" id="btnfechar" class="btn btn-secondary modalFechar">Fechar</button>
                        <input type="button" id="btnanteprojeto" class="btn btn-primary btnEvento" name="btn_anteprojeto" value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/blocks/eva_barema_afastamento/js/jquery.mask.js"></script>
<script src="/blocks/eva_barema_afastamento/js/create_anteprojeto_modal.js"></script>