<style>
    .infoSubstituicao_modal:before {
        background-color: rgba(0,0,0,.9);
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .tamanho_modal {
        width: 42% !important;
        margin: 6% auto !important;
    }
</style>

<div class="infoSubstituicao_modal modal fade" id="modalInfoSubstituicao" tabindex="-1" aria-labelledby="modalInfoSubstituicaoLabel" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content tamanho_modal">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInfoSubstituicaoLabel">Informação da Substituíção</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="fcontainer clearfix m_area">
                    <div id="bitem_id_anteprojeto" class="form-group row bitem">
                        <div class="col-md-12 form-inline align-items-start felement">
                            <div class="card" style="width: 100%; margin-bottom: 5px;">
                                <div class="card-body">
                                    <h5 class="card-title">Avaliador Substituído</h5>
                                    <p class="card-text" id="ava_substituido"></p>
                                    <p class="card-text qt_dia_substituido"></p>
                                    <p class="card-text data_substituido"></p>
                                </div>
                            </div>
                            <div class="card" style="width: 100%;">
                                <div class="card-body">
                                    <h5 class="card-title">Avaliador Substituto</h5>
                                    <p class="card-text" id="ava_substituto"></p>
                                    <p class="card-text qt_dia_substituto"></p>
                                    <p class="card-text data_substituto"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer eventButton">
<!--                    <button type="button" id="btnfechar" class="btn btn-secondary modalFechar" data-dismiss="modal">Fechar</button>-->
                    <button type="button" id="btnfechar" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Fechar</button>
<!--                    <input type="submit" id="btnanteprojeto" class="btn btn-primary btnEvento" name="btn_email_pendente" value="Enviar Email">-->
                </div>
            </div>
        </div>
    </div>
</div>
