<link rel="stylesheet" href="{{ style }}" />
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <style>
          .btnColor[data-ccn-c="color1"]:hover {
            color: {{ button_color_hover }} !important;
          }
        </style>
        <section>
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 col-xxl-4">
                <img src="{{ imgs }}" class="blockImage" alt="Image" />
              </div>
              <div
                class="divPrincipal col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-7 col-xxl-8"
                style="background-color: {{ color }};">
                <h1 class="tituloPrincipalb3" style="color: {{ title_color }};">{{ title }}</h1>
                <blockquote class="blockquotebar">{{ blockquote }}</blockquote>
                <p class="textoPrincipal">{{ text }}</p>
                <div style="margin-top: 10%;">
                  <a
                    href="{{ url }}"
                    class="botaoPrincipal btnColor"
                    style="background-color: {{ button_color }}; color: {{ button_text_color }};"
                    data-ccn-c="color1"
                    data-ccn-co="bg">
                    <span>{{ button }}</span>&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
