.title {
    display: none;
}

.blog_tag_widget {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bshadow {
    box-shadow: 0 4px 10px 0 #878787;
}

@media (min-width: 320px) {

}

@media (min-width: 992px) {

    .titulo {
        width: 450px;
    }

}








