.title {
    display: none;
}

.blog_tag_widget {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.info_cards {
    /*margin-bottom: 80px;*/
    text-align: left;
    padding: 0px 0px 20px 0px;
    height: 136px;
}

.info_cards h4 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    line-height: 1.2;
}

.info_cards p {
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    white-space: pre-line;
}

@media (min-width: 320px) {

}

@media (min-width: 992px) {

    .titulo {
        width: 450px;
    }

}